In [133]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

In [134]:
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', None)

In [135]:
df = pd.read_csv("./Data/avpat.csv", sep = "^", index_col = 0)
df.head()

   PATIENTID SEX  LINKNUMBER      ETHNICITY NEWVITALSTATUS VITALSTATUSDATE
0   10000001   F   810000001  White British              A      2017-01-17
1   10000002   F   810000002            NaN              A      2017-01-14
2   10000003   M   810000003  White British              A      2017-01-17
3   10000004   M   810000004  White British              A      2017-01-13
4   10000005   F   810000005            NaN              A      2017-01-16

In [136]:
df.shape

(982482, 6)

In [137]:
zf = ZipFile('../../Data/sim_av_tumour.zip')
csv = zf.open('sim_av_tumour.csv')
avtum = pd.read_csv(csv)
avtum.head()

,TUMOURID,PATIENTID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,SEX,CREG_CODE,LINKNUMBER,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
0,10000001,10000001,2015-11-06,C443,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,90,2,L0801,810000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-06,L,3
1,10000002,10000002,2015-10-06,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,84,2,L0301,810000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-06,8,2
2,10000003,10000003,2013-01-30,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,68,1,L0401,810000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1 - least deprived
3,10000004,10000004,2015-09-15,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,69,1,L1001,810000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2
4,10000005,10000005,2014-11-01,C449,C44,8090,3,NaN,NaN,NaN,U,NaN,GX,58,2,L0401,810000005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-11-01,8,2

In [138]:
avtum.shape

(1402817, 34)

In [139]:
print("The original dataset has data for %d patients" % len(avtum))
print("After removing duplicates, the dataset has data for %d patients" % len(avtum.drop_duplicates()))

The original dataset has data for 1402817 patients
After removing duplicates, the dataset has data for 1402817 patients

In [140]:
df = df.merge(avtum, left_on = 'PATIENTID', right_on = 'PATIENTID', how = 'left')
df.head()

,PATIENTID,SEX_x,LINKNUMBER_x,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,SEX_y,CREG_CODE,LINKNUMBER_y,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
0,10000001,F,810000001,White British,A,2017-01-17,10000001,2015-11-06,C443,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,90,2,L0801,810000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-06,L,3
1,10000002,F,810000002,NaN,A,2017-01-14,10000002,2015-10-06,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,84,2,L0301,810000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-06,8,2
2,10000003,M,810000003,White British,A,2017-01-17,10000003,2013-01-30,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,68,1,L0401,810000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1 - least deprived
3,10000004,M,810000004,White British,A,2017-01-13,10000004,2015-09-15,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,69,1,L1001,810000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2
4,10000005,F,810000005,NaN,A,2017-01-16,10000005,2014-11-01,C449,C44,8090,3,NaN,NaN,NaN,U,NaN,GX,58,2,L0401,810000005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-11-01,8,2

In [141]:
df.shape

(1039893, 39)

In [142]:
df = df.drop(['SEX_y',"LINKNUMBER_y"], axis = 1)
df.head()

,PATIENTID,SEX_x,LINKNUMBER_x,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,CREG_CODE,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
0,10000001,F,810000001,White British,A,2017-01-17,10000001,2015-11-06,C443,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,90,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-06,L,3
1,10000002,F,810000002,NaN,A,2017-01-14,10000002,2015-10-06,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,84,L0301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-06,8,2
2,10000003,M,810000003,White British,A,2017-01-17,10000003,2013-01-30,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,68,L0401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1 - least deprived
3,10000004,M,810000004,White British,A,2017-01-13,10000004,2015-09-15,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,69,L1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2
4,10000005,F,810000005,NaN,A,2017-01-16,10000005,2014-11-01,C449,C44,8090,3,NaN,NaN,NaN,U,NaN,GX,58,L0401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-11-01,8,2

In [143]:
df.rename(columns={'SEX_x': 'SEX', 'LINKNUMBER_x': 'LINKNUMBER'}, inplace=True)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,CREG_CODE,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
0,10000001,F,810000001,White British,A,2017-01-17,10000001,2015-11-06,C443,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,90,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-06,L,3
1,10000002,F,810000002,NaN,A,2017-01-14,10000002,2015-10-06,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,84,L0301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-06,8,2
2,10000003,M,810000003,White British,A,2017-01-17,10000003,2013-01-30,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,68,L0401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1 - least deprived
3,10000004,M,810000004,White British,A,2017-01-13,10000004,2015-09-15,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,69,L1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2
4,10000005,F,810000005,NaN,A,2017-01-16,10000005,2014-11-01,C449,C44,8090,3,NaN,NaN,NaN,U,NaN,GX,58,L0401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-11-01,8,2

In [144]:
df.shape

(1039893, 37)

In [145]:
df.dtypes

PATIENTID                     int64
SEX                          object
LINKNUMBER                    int64
ETHNICITY                    object
NEWVITALSTATUS               object
VITALSTATUSDATE              object
TUMOURID                      int64
DIAGNOSISDATEBEST            object
SITE_ICD10_O2                object
SITE_ICD10_O2_3CHAR          object
MORPH_ICD10_O2               object
BEHAVIOUR_ICD10_O2           object
T_BEST                       object
N_BEST                       object
M_BEST                       object
STAGE_BEST                   object
STAGE_BEST_SYSTEM           float64
GRADE                        object
AGE                           int64
CREG_CODE                    object
SCREENINGSTATUSFULL_CODE     object
ER_STATUS                    object
ER_SCORE                    float64
PR_STATUS                    object
PR_SCORE                    float64
HER2_STATUS                  object
CANCERCAREPLANINTENT         object
PERFORMANCESTATUS            object
CNS                          object
ACE27                        object
GLEASON_PRIMARY             float64
GLEASON_SECONDARY           float64
GLEASON_TERTIARY            float64
GLEASON_COMBINED            float64
DATE_FIRST_SURGERY           object
LATERALITY                   object
QUINTILE_2015                object
dtype: object

In [146]:
df.isna().sum()

PATIENTID                         0
SEX                               0
LINKNUMBER                        0
ETHNICITY                    152279
NEWVITALSTATUS                    0
VITALSTATUSDATE                   0
TUMOURID                          0
DIAGNOSISDATEBEST                 0
SITE_ICD10_O2                   355
SITE_ICD10_O2_3CHAR             326
MORPH_ICD10_O2                  344
BEHAVIOUR_ICD10_O2              271
T_BEST                       577404
N_BEST                       665001
M_BEST                       683043
STAGE_BEST                        7
STAGE_BEST_SYSTEM            571423
GRADE                         46548
AGE                               0
CREG_CODE                         0
SCREENINGSTATUSFULL_CODE     942352
ER_STATUS                    938849
ER_SCORE                     992769
PR_STATUS                    975294
PR_SCORE                    1013416
HER2_STATUS                  952320
CANCERCAREPLANINTENT         751923
PERFORMANCESTATUS            782342
CNS                          780768
ACE27                        966640
GLEASON_PRIMARY              995747
GLEASON_SECONDARY           1013892
GLEASON_TERTIARY            1039302
GLEASON_COMBINED            1013821
DATE_FIRST_SURGERY           378018
LATERALITY                       21
QUINTILE_2015                     0
dtype: int64

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1039893 entries, 0 to 1039892
Data columns (total 37 columns):
PATIENTID                   1039893 non-null int64
SEX                         1039893 non-null object
LINKNUMBER                  1039893 non-null int64
ETHNICITY                   887614 non-null object
NEWVITALSTATUS              1039893 non-null object
VITALSTATUSDATE             1039893 non-null object
TUMOURID                    1039893 non-null int64
DIAGNOSISDATEBEST           1039893 non-null object
SITE_ICD10_O2               1039538 non-null object
SITE_ICD10_O2_3CHAR         1039567 non-null object
MORPH_ICD10_O2              1039549 non-null object
BEHAVIOUR_ICD10_O2          1039622 non-null object
T_BEST                      462489 non-null object
N_BEST                      374892 non-null object
M_BEST                      356850 non-null object
STAGE_BEST                  1039886 non-null object
STAGE_BEST_SYSTEM           468470 non-null float64
GRADE                       993345 non-null object
AGE                         1039893 non-null int64
CREG_CODE                   1039893 non-null object
SCREENINGSTATUSFULL_CODE    97541 non-null object
ER_STATUS                   101044 non-null object
ER_SCORE                    47124 non-null float64
PR_STATUS                   64599 non-null object
PR_SCORE                    26477 non-null float64
HER2_STATUS                 87573 non-null object
CANCERCAREPLANINTENT        287970 non-null object
PERFORMANCESTATUS           257551 non-null object
CNS                         259125 non-null object
ACE27                       73253 non-null object
GLEASON_PRIMARY             44146 non-null float64
GLEASON_SECONDARY           26001 non-null float64
GLEASON_TERTIARY            591 non-null float64
GLEASON_COMBINED            26072 non-null float64
DATE_FIRST_SURGERY          661875 non-null object
LATERALITY                  1039872 non-null object
QUINTILE_2015               1039893 non-null object
dtypes: float64(7), int64(4), object(26)
memory usage: 301.5+ MB

In [148]:
df.count()

PATIENTID                   1039893
SEX                         1039893
LINKNUMBER                  1039893
ETHNICITY                    887614
NEWVITALSTATUS              1039893
VITALSTATUSDATE             1039893
TUMOURID                    1039893
DIAGNOSISDATEBEST           1039893
SITE_ICD10_O2               1039538
SITE_ICD10_O2_3CHAR         1039567
MORPH_ICD10_O2              1039549
BEHAVIOUR_ICD10_O2          1039622
T_BEST                       462489
N_BEST                       374892
M_BEST                       356850
STAGE_BEST                  1039886
STAGE_BEST_SYSTEM            468470
GRADE                        993345
AGE                         1039893
CREG_CODE                   1039893
SCREENINGSTATUSFULL_CODE      97541
ER_STATUS                    101044
ER_SCORE                      47124
PR_STATUS                     64599
PR_SCORE                      26477
HER2_STATUS                   87573
CANCERCAREPLANINTENT         287970
PERFORMANCESTATUS            257551
CNS                          259125
ACE27                         73253
GLEASON_PRIMARY               44146
GLEASON_SECONDARY             26001
GLEASON_TERTIARY                591
GLEASON_COMBINED              26072
DATE_FIRST_SURGERY           661875
LATERALITY                  1039872
QUINTILE_2015               1039893
dtype: int64

In [149]:
df.columns

Index(['PATIENTID', 'SEX', 'LINKNUMBER', 'ETHNICITY', 'NEWVITALSTATUS',
       'VITALSTATUSDATE', 'TUMOURID', 'DIAGNOSISDATEBEST', 'SITE_ICD10_O2',
       'SITE_ICD10_O2_3CHAR', 'MORPH_ICD10_O2', 'BEHAVIOUR_ICD10_O2', 'T_BEST',
       'N_BEST', 'M_BEST', 'STAGE_BEST', 'STAGE_BEST_SYSTEM', 'GRADE', 'AGE',
       'CREG_CODE', 'SCREENINGSTATUSFULL_CODE', 'ER_STATUS', 'ER_SCORE',
       'PR_STATUS', 'PR_SCORE', 'HER2_STATUS', 'CANCERCAREPLANINTENT',
       'PERFORMANCESTATUS', 'CNS', 'ACE27', 'GLEASON_PRIMARY',
       'GLEASON_SECONDARY', 'GLEASON_TERTIARY', 'GLEASON_COMBINED',
       'DATE_FIRST_SURGERY', 'LATERALITY', 'QUINTILE_2015'],
      dtype='object')

In [150]:
columns_selected = ['PATIENTID', 'SEX', 'LINKNUMBER', 'ETHNICITY', 'NEWVITALSTATUS', 'VITALSTATUSDATE', 'TUMOURID',
        'DIAGNOSISDATEBEST','SITE_ICD10_O2','SITE_ICD10_O2_3CHAR', 'BEHAVIOUR_ICD10_O2', 'STAGE_BEST', 'GRADE', 'AGE', 
        'CREG_CODE', 'ER_STATUS', 'ER_SCORE', 'PR_STATUS', 'PR_SCORE', 'HER2_STATUS', 'CANCERCAREPLANINTENT',
        'PERFORMANCESTATUS', 'ACE27', 'DATE_FIRST_SURGERY', 'LATERALITY', 'QUINTILE_2015']
df = df[columns_selected]
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,BEHAVIOUR_ICD10_O2,STAGE_BEST,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
0,10000001,F,810000001,White British,A,2017-01-17,10000001,2015-11-06,C443,C44,3,?,GX,90,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-06,L,3
1,10000002,F,810000002,NaN,A,2017-01-14,10000002,2015-10-06,C449,C44,3,?,GX,84,L0301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-06,8,2
2,10000003,M,810000003,White British,A,2017-01-17,10000003,2013-01-30,C449,C44,3,?,GX,68,L0401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1 - least deprived
3,10000004,M,810000004,White British,A,2017-01-13,10000004,2015-09-15,C449,C44,3,?,GX,69,L1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2
4,10000005,F,810000005,NaN,A,2017-01-16,10000005,2014-11-01,C449,C44,3,U,GX,58,L0401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-11-01,8,2

In [151]:
df = df[df['SITE_ICD10_O2_3CHAR'] == 'C50']
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,BEHAVIOUR_ICD10_O2,STAGE_BEST,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C64,C50,3,2B,G2,71,L1201,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,R,3
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C504,C50,3,?,G2,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C343,C50,3,4C,G3,86,L0401,NaN,NaN,NaN,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C447,C50,3,?,G1,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C447,C50,3,3A,G2,87,L0801,NaN,NaN,NaN,NaN,NaN,C,1,NaN,2015-03-15,L,4

In [152]:
df.shape

(108230, 26)

In [153]:
df['PATIENTID'].value_counts().sort_values(ascending = False).head(10)

20036021    3
20071892    3
20016664    3
20003454    3
20012119    3
20097535    3
20058104    3
20056460    3
20012399    3
20023580    3
Name: PATIENTID, dtype: int64

In [154]:
df[df.groupby('PATIENTID')['PATIENTID'].transform('size') == 3].sort_values(by='PATIENTID').head(10)

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,BEHAVIOUR_ICD10_O2,STAGE_BEST,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
302560,20003454,F,820003454,White British,A,2017-01-14,20003454,2014-07-01,C508,C50,3,1A,G3,66,L1201,P,8.0,P,7.0,N,NaN,NaN,NaN,2014-08-16,R,4
302561,20003454,F,820003454,White British,A,2017-01-14,20128733,2014-09-15,C509,C50,1,0,G1,66,L1201,P,8.0,P,6.0,NaN,NaN,NaN,NaN,2014-09-15,L,4
302562,20003454,F,820003454,White British,A,2017-01-14,20136397,2014-09-15,C509,C50,3,2A,G1,66,L1201,P,NaN,NaN,NaN,N,NaN,NaN,NaN,2014-09-15,R,4
308605,20010794,F,820010794,Other white background,A,2017-01-17,20010794,2014-04-29,C501,C50,3,1A,G2,62,L0901,P,8.0,P,4.0,Pm,C,NaN,NaN,2014-06-11,L,1 - least deprived
308606,20010794,F,820010794,Other white background,A,2017-01-17,20129134,2014-06-08,C505,C50,3,1A,G2,62,L0901,P,NaN,NaN,NaN,B,NaN,9,NaN,2014-07-20,R,1 - least deprived
308607,20010794,F,820010794,Other white background,A,2017-01-17,20136414,2014-06-13,C509,C50,3,?,G2,62,L0901,P,8.0,P,NaN,NaN,C,1,1,NaN,L,1 - least deprived
309697,20012119,F,820012119,Other white background,A,2017-01-16,20012119,2015-01-29,C508,C50,3,4,G2,76,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-14,L,5 - most deprived
309698,20012119,F,820012119,Other white background,A,2017-01-16,20129217,2015-12-31,C64,C50,3,?,G2,76,L0801,P,NaN,NaN,NaN,N,NaN,NaN,NaN,2016-03-10,L,5 - most deprived
309699,20012119,F,820012119,Other white background,A,2017-01-16,20136418,2015-12-31,C509,C50,3,2,G1,76,L0801,P,8.0,P,NaN,N,NaN,NaN,NaN,2016-03-15,L,5 - most deprived
309940,20012399,F,820012399,White British,A,2017-01-16,20136420,2014-04-15,C509,C50,3,1A,G2,64,L0201,P,NaN,P,NaN,N,9,2m,NaN,2014-05-26,R,4

In [155]:
df['NUMBER_OF_TUMOURS'] = df.groupby('PATIENTID')['PATIENTID'].transform('size')
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,BEHAVIOUR_ICD10_O2,STAGE_BEST,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C64,C50,3,2B,G2,71,L1201,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,R,3,1
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C504,C50,3,?,G2,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C343,C50,3,4C,G3,86,L0401,NaN,NaN,NaN,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C447,C50,3,?,G1,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C447,C50,3,3A,G2,87,L0801,NaN,NaN,NaN,NaN,NaN,C,1,NaN,2015-03-15,L,4,1

In [156]:
df[df['PATIENTID'] == 20010794]

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,BEHAVIOUR_ICD10_O2,STAGE_BEST,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS
308605,20010794,F,820010794,Other white background,A,2017-01-17,20010794,2014-04-29,C501,C50,3,1A,G2,62,L0901,P,8.0,P,4.0,Pm,C,NaN,NaN,2014-06-11,L,1 - least deprived,3
308606,20010794,F,820010794,Other white background,A,2017-01-17,20129134,2014-06-08,C505,C50,3,1A,G2,62,L0901,P,NaN,NaN,NaN,B,NaN,9,NaN,2014-07-20,R,1 - least deprived,3
308607,20010794,F,820010794,Other white background,A,2017-01-17,20136414,2014-06-13,C509,C50,3,?,G2,62,L0901,P,8.0,P,NaN,NaN,C,1,1,NaN,L,1 - least deprived,3

In [157]:
df['SITE_ICD10_O2'].value_counts()

C509    41705
C504    30840
C502     9739
C508     5891
C505     5750
C501     5594
C503     5025
C500     1125
C506      554
C341      328
C64       197
C343      173
C443      173
D051      155
D050      135
C447       93
C349       78
C446       74
C56        64
C342       41
C442       34
C539       32
C441       27
C437       22
C61        21
C65        19
C66        17
C436       17
D033       14
C099       13
C340       10
C060       10
C570        9
D037        8
C711        7
D073        6
C530        6
C433        5
C510        5
C449        5
C73         5
C541        5
D091        5
C450        5
D036        5
C07         4
C679        4
D486        4
C519        4
C833        4
C20         4
C492        4
C690        3
D032        3
D391        3
C621        3
C211        3
C445        3
D411        3
C857        3
D332        3
C348        3
C710        3
C179        2
C692        2
C187        2
C162        2
D432        2
C859        2
C221        2
D410        2
C490        2
C719        2
C713        2
D057        2
C712        2
C210        2
C795        1
C693        1
C250        1
D469        1
C413        1
C741        1
D412        1
D462        1
C321        1
C694        1
C259        1
D090        1
C313        1
C925        1
D047        1
C310        1
C810        1
D013        1
C140        1
C927        1
C780        1
C139        1
C629        1
C696        1
C181        1
C695        1
D401        1
C000        1
C185        1
C01         1
D479        1
C837        1
C241        1
C091        1
C440        1
D381        1
D430        1
D072        1
C821        1
C258        1
C672        1
C049        1
C030        1
C531        1
C678        1
C851        1
C031        1
C155        1
D020        1
C630        1
C180        1
C511        1
C182        1
Name: SITE_ICD10_O2, dtype: int64

In [158]:
df['SITE_ICD10_O2'] = df['SITE_ICD10_O2'].astype(str)
def site_icd(value):
    if value == 'C509' or value == 'nan':
        return np.nan
    elif value.startswith('C50'):
        return value
    else:
        return np.nan

df['SITE_ICD10_O2'] = df['SITE_ICD10_O2'].apply(site_icd)
df['SITE_ICD10_O2'].value_counts()

C504    30840
C502     9739
C508     5891
C505     5750
C501     5594
C503     5025
C500     1125
C506      554
Name: SITE_ICD10_O2, dtype: int64

In [159]:
df['SITE_ICD10_O2'] = df['SITE_ICD10_O2'].astype(str)
df['SC500'] = df.groupby('PATIENTID')['SITE_ICD10_O2'].transform(lambda patient: True if any('C500' in tumour for tumour in patient) else False)
df['SC501'] = df.groupby('PATIENTID')['SITE_ICD10_O2'].transform(lambda patient: True if any('C501' in tumour for tumour in patient) else False)
df['SC502'] = df.groupby('PATIENTID')['SITE_ICD10_O2'].transform(lambda patient: True if any('C502' in tumour for tumour in patient) else False)
df['SC503'] = df.groupby('PATIENTID')['SITE_ICD10_O2'].transform(lambda patient: True if any('C503' in tumour for tumour in patient) else False)
df['SC504'] = df.groupby('PATIENTID')['SITE_ICD10_O2'].transform(lambda patient: True if any('C504' in tumour for tumour in patient) else False)
df['SC505'] = df.groupby('PATIENTID')['SITE_ICD10_O2'].transform(lambda patient: True if any('C505' in tumour for tumour in patient) else False)
df['SC506'] = df.groupby('PATIENTID')['SITE_ICD10_O2'].transform(lambda patient: True if any('C506' in tumour for tumour in patient) else False)
df['SC508'] = df.groupby('PATIENTID')['SITE_ICD10_O2'].transform(lambda patient: True if any('C508' in tumour for tumour in patient) else False)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,BEHAVIOUR_ICD10_O2,STAGE_BEST,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,nan,C50,3,2B,G2,71,L1201,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C504,C50,3,?,G2,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,nan,C50,3,4C,G3,86,L0401,NaN,NaN,NaN,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,nan,C50,3,?,G1,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,nan,C50,3,3A,G2,87,L0801,NaN,NaN,NaN,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False

In [160]:
df[df['PATIENTID'] == 20010794]

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,BEHAVIOUR_ICD10_O2,STAGE_BEST,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508
308605,20010794,F,820010794,Other white background,A,2017-01-17,20010794,2014-04-29,C501,C50,3,1A,G2,62,L0901,P,8.0,P,4.0,Pm,C,NaN,NaN,2014-06-11,L,1 - least deprived,3,False,True,False,False,False,True,False,False
308606,20010794,F,820010794,Other white background,A,2017-01-17,20129134,2014-06-08,C505,C50,3,1A,G2,62,L0901,P,NaN,NaN,NaN,B,NaN,9,NaN,2014-07-20,R,1 - least deprived,3,False,True,False,False,False,True,False,False
308607,20010794,F,820010794,Other white background,A,2017-01-17,20136414,2014-06-13,nan,C50,3,?,G2,62,L0901,P,8.0,P,NaN,NaN,C,1,1,NaN,L,1 - least deprived,3,False,True,False,False,False,True,False,False

In [161]:
df = df.drop(['SITE_ICD10_O2'], axis = 1)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,BEHAVIOUR_ICD10_O2,STAGE_BEST,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,3,2B,G2,71,L1201,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,3,?,G2,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,3,4C,G3,86,L0401,NaN,NaN,NaN,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,3,?,G1,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,3,3A,G2,87,L0801,NaN,NaN,NaN,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False

In [162]:
df['BEHAVIOUR_ICD10_O2'].value_counts()

3      86155
3.0    20803
5        577
2        482
5.0       72
1         41
6         31
0         16
XXX       13
1.0        5
2          4
6.0        3
0.0        2
9          1
Name: BEHAVIOUR_ICD10_O2, dtype: int64

In [163]:
df['BEHAVIOUR_ICD10_O2'] = df['BEHAVIOUR_ICD10_O2'].astype(str)
def behaviour(value):
    if value.startswith('0'):
        return 'Benign'
    elif value.startswith('1'):
        return 'Uncertain'
    elif value.startswith('2'):
        return 'In situ'
    elif value.startswith('3'):
        return 'Malignant'
    elif value.startswith('5'):
        return 'Micro-invasive'
    elif value.startswith('X') or value.startswith('6') or value.startswith('9') or value == 'nan':
        return np.nan
    else:
        return value

df['BEHAVIOUR_ICD10_O2'] = df['BEHAVIOUR_ICD10_O2'].apply(behaviour)
df['BEHAVIOUR_ICD10_O2'].value_counts()

Malignant         106958
Micro-invasive       649
In situ              486
Uncertain             46
Benign                18
Name: BEHAVIOUR_ICD10_O2, dtype: int64

In [164]:
df['BEHAVIOUR_ICD10_O2'] = df['BEHAVIOUR_ICD10_O2'].astype(str)
df['BEH_BENIGN'] = df.groupby('PATIENTID')['BEHAVIOUR_ICD10_O2'].transform(lambda patient: True if any('Benign' in tumour for tumour in patient) else False)
df['BEH_MALIG'] = df.groupby('PATIENTID')['BEHAVIOUR_ICD10_O2'].transform(lambda patient: True if any('Malignant' in tumour for tumour in patient) else False)
df['BEH_MICINV'] = df.groupby('PATIENTID')['BEHAVIOUR_ICD10_O2'].transform(lambda patient: True if any('Micro-invasive' in tumour for tumour in patient) else False)
df['BEH_INSITU'] = df.groupby('PATIENTID')['BEHAVIOUR_ICD10_O2'].transform(lambda patient: True if any('In situ' in tumour for tumour in patient) else False)
df['BEH_UNCERT'] = df.groupby('PATIENTID')['BEHAVIOUR_ICD10_O2'].transform(lambda patient: True if any('Uncertain' in tumour for tumour in patient) else False)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,BEHAVIOUR_ICD10_O2,STAGE_BEST,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,Malignant,2B,G2,71,L1201,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,Malignant,?,G2,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,Malignant,4C,G3,86,L0401,NaN,NaN,NaN,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,Malignant,?,G1,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,Malignant,3A,G2,87,L0801,NaN,NaN,NaN,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False

In [165]:
df[df['PATIENTID'] == 20005410]

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,BEHAVIOUR_ICD10_O2,STAGE_BEST,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT
304189,20005410,F,820005410,White British,A,2017-01-16,20005410,2013-12-04,C50,Malignant,3A,G2,50,L1201,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,2014-02-08,R,2,2,False,False,False,False,False,False,False,False,True,True,False,False,False
304190,20005410,F,820005410,White British,A,2017-01-16,20128840,2014-05-08,C50,Benign,U,GX,50,L1201,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,2014-05-10,L,2,2,False,False,False,False,False,False,False,False,True,True,False,False,False

In [166]:
df = df.drop(['BEHAVIOUR_ICD10_O2'], axis = 1)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,STAGE_BEST,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,2B,G2,71,L1201,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,?,G2,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,4C,G3,86,L0401,NaN,NaN,NaN,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,?,G1,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,3A,G2,87,L0801,NaN,NaN,NaN,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False

In [167]:
df['STAGE_BEST'].value_counts()

1A     41565
2A     26758
2B     12546
?      10079
3A      5378
4       3487
1B      1814
3C      1722
3B      1640
1       1014
0        953
U        526
2        383
3        202
4B        31
1C        27
4S        19
1A1       18
4A        14
2C        13
2A2       11
4C         9
0A         4
1A2        4
2A1        3
3S         3
1B1        2
2E         1
1E         1
0IS        1
1S         1
1B2        1
Name: STAGE_BEST, dtype: int64

In [168]:
df['STAGE_BEST'] = df['STAGE_BEST'].astype(str)
def stage_best(value):
    if value.startswith('0'):
        return 'Stage 0'
    elif value.startswith('1'):
        return 'Stage 1'
    elif value.startswith('2'):
        return 'Stage 2'
    elif value.startswith('3'):
        return 'Stage 3'
    elif value.startswith('4'):
        return 'Stage 4'
    elif value == '?' or value == 'U' or value == 'nan':
        return np.nan
    else:
        return value

df['STAGE_BEST'] = df['STAGE_BEST'].apply(stage_best)
df['STAGE_BEST'].value_counts()

Stage 1    44447
Stage 2    39715
Stage 3     8945
Stage 4     3560
Stage 0      958
Name: STAGE_BEST, dtype: int64

In [169]:
df['STAGE_BEST'] = df['STAGE_BEST'].astype(str)
df['STAGE0'] = df.groupby('PATIENTID')['STAGE_BEST'].transform(lambda patient: True if any('Stage 0' in tumour for tumour in patient) else False)
df['STAGE1'] = df.groupby('PATIENTID')['STAGE_BEST'].transform(lambda patient: True if any('Stage 1' in tumour for tumour in patient) else False)
df['STAGE2'] = df.groupby('PATIENTID')['STAGE_BEST'].transform(lambda patient: True if any('Stage 2' in tumour for tumour in patient) else False)
df['STAGE3'] = df.groupby('PATIENTID')['STAGE_BEST'].transform(lambda patient: True if any('Stage 3' in tumour for tumour in patient) else False)
df['STAGE4'] = df.groupby('PATIENTID')['STAGE_BEST'].transform(lambda patient: True if any('Stage 4' in tumour for tumour in patient) else False)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,STAGE_BEST,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,Stage 2,G2,71,L1201,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,nan,G2,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,Stage 4,G3,86,L0401,NaN,NaN,NaN,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,nan,G1,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,Stage 3,G2,87,L0801,NaN,NaN,NaN,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False

In [171]:
df[df['PATIENTID'] == 20012119]

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,STAGE_BEST,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4
309697,20012119,F,820012119,Other white background,A,2017-01-16,20012119,2015-01-29,C50,Stage 4,G2,76,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-14,L,5 - most deprived,3,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True
309698,20012119,F,820012119,Other white background,A,2017-01-16,20129217,2015-12-31,C50,nan,G2,76,L0801,P,NaN,NaN,NaN,N,NaN,NaN,NaN,2016-03-10,L,5 - most deprived,3,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True
309699,20012119,F,820012119,Other white background,A,2017-01-16,20136418,2015-12-31,C50,Stage 2,G1,76,L0801,P,8.0,P,NaN,N,NaN,NaN,NaN,2016-03-15,L,5 - most deprived,3,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True

In [172]:
df = df.drop(['STAGE_BEST'], axis = 1)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,G2,71,L1201,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,G2,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,G3,86,L0401,NaN,NaN,NaN,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,G1,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,G2,87,L0801,NaN,NaN,NaN,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False

In [173]:
df['GRADE'].value_counts()

G2    53897
G3    31643
G1    15785
GX     6134
G4       60
Name: GRADE, dtype: int64

In [174]:
df['GRADE'] = df['GRADE'].astype(str)
def grade(value):
    if value == 'GX' or value == 'nan':
        return np.nan
    else:
        return value

df['GRADE'] = df['GRADE'].apply(grade)
df['GRADE'].value_counts()

G2    53897
G3    31643
G1    15785
G4       60
Name: GRADE, dtype: int64

In [175]:
df['GRADE'] = df['GRADE'].astype(str)
df['GRADE1'] = df.groupby('PATIENTID')['GRADE'].transform(lambda patient: True if any('G1' in tumour for tumour in patient) else False)
df['GRADE2'] = df.groupby('PATIENTID')['GRADE'].transform(lambda patient: True if any('G2' in tumour for tumour in patient) else False)
df['GRADE3'] = df.groupby('PATIENTID')['GRADE'].transform(lambda patient: True if any('G3' in tumour for tumour in patient) else False)
df['GRADE4'] = df.groupby('PATIENTID')['GRADE'].transform(lambda patient: True if any('G4' in tumour for tumour in patient) else False)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,G2,71,L1201,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,G2,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,G3,86,L0401,NaN,NaN,NaN,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,G1,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,G2,87,L0801,NaN,NaN,NaN,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False

In [176]:
df[df['PATIENTID'] == 20012119]

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4
309697,20012119,F,820012119,Other white background,A,2017-01-16,20012119,2015-01-29,C50,G2,76,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-14,L,5 - most deprived,3,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True,True,True,False,False
309698,20012119,F,820012119,Other white background,A,2017-01-16,20129217,2015-12-31,C50,G2,76,L0801,P,NaN,NaN,NaN,N,NaN,NaN,NaN,2016-03-10,L,5 - most deprived,3,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True,True,True,False,False
309699,20012119,F,820012119,Other white background,A,2017-01-16,20136418,2015-12-31,C50,G1,76,L0801,P,8.0,P,NaN,N,NaN,NaN,NaN,2016-03-15,L,5 - most deprived,3,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True,True,True,False,False

In [177]:
df = df.drop(['GRADE'], axis = 1)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,71,L1201,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,86,L0401,NaN,NaN,NaN,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,87,L0801,NaN,NaN,NaN,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False

In [178]:
df['AGE'].describe()

count    108230.000000
mean         63.018294
std          14.316331
min           3.000000
25%          52.000000
50%          63.000000
75%          73.000000
max         105.000000
Name: AGE, dtype: float64

In [179]:
df['AGE_MEAN'] = df.groupby('PATIENTID')['AGE'].transform(np.mean)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,AGE,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,71,L1201,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,71.0
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,68.0
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,86,L0401,NaN,NaN,NaN,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,86.0
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,71.0
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,87,L0801,NaN,NaN,NaN,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,87.0

In [180]:
df = df.drop(['AGE'], axis = 1)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,L1201,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,71.0
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,68.0
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,L0401,NaN,NaN,NaN,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,86.0
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,71.0
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,L0801,NaN,NaN,NaN,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,87.0

In [181]:
df['CREG_CODE'].value_counts()

L0801    23055
L1001    16970
L1701    13661
L0201    13635
L0401    12551
L1201    11475
L0301    10611
L0901     6272
Name: CREG_CODE, dtype: int64

In [182]:
df['CREG_CODE'] = df['CREG_CODE'].astype(str)
df['L0801'] = df.groupby('PATIENTID')['CREG_CODE'].transform(lambda patient: True if any('L0801' in tumour for tumour in patient) else False)
df['L1001'] = df.groupby('PATIENTID')['CREG_CODE'].transform(lambda patient: True if any('L1001' in tumour for tumour in patient) else False)
df['L1701'] = df.groupby('PATIENTID')['CREG_CODE'].transform(lambda patient: True if any('L1701' in tumour for tumour in patient) else False)
df['L0201'] = df.groupby('PATIENTID')['CREG_CODE'].transform(lambda patient: True if any('L0201' in tumour for tumour in patient) else False)
df['L0401'] = df.groupby('PATIENTID')['CREG_CODE'].transform(lambda patient: True if any('L0401' in tumour for tumour in patient) else False)
df['L1201'] = df.groupby('PATIENTID')['CREG_CODE'].transform(lambda patient: True if any('L1201' in tumour for tumour in patient) else False)
df['L0301'] = df.groupby('PATIENTID')['CREG_CODE'].transform(lambda patient: True if any('L0301' in tumour for tumour in patient) else False)
df['L0901'] = df.groupby('PATIENTID')['CREG_CODE'].transform(lambda patient: True if any('L0901' in tumour for tumour in patient) else False)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,CREG_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,L1201,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,71.0,False,False,False,False,False,True,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,68.0,True,False,False,False,False,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,L0401,NaN,NaN,NaN,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,86.0,False,False,False,False,True,False,False,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,71.0,True,False,False,False,False,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,L0801,NaN,NaN,NaN,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,87.0,True,False,False,False,False,False,False,False

In [183]:
df = df.drop(['CREG_CODE'], axis = 1)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,71.0,False,False,False,False,False,True,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,68.0,True,False,False,False,False,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,NaN,NaN,NaN,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,86.0,False,False,False,False,True,False,False,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,71.0,True,False,False,False,False,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,NaN,NaN,NaN,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,87.0,True,False,False,False,False,False,False,False

In [184]:
df['ER_STATUS'].value_counts()

P     69810
N     12101
U      9443
Pm      351
X       124
B        61
Name: ER_STATUS, dtype: int64

In [185]:
df['ER_STATUS'] = df['ER_STATUS'].astype(str)
def er_status(value):
    if value.startswith('P'):
        return 'Positive'
    elif value.startswith('N'):
        return 'Negative'    
    elif value == 'U' or value == 'X' or value == 'B' or value == 'nan':
        return np.nan        
    else:
        return value

df['ER_STATUS'] = df['ER_STATUS'].apply(er_status)
df['ER_STATUS'].value_counts()

Positive    70161
Negative    12101
Name: ER_STATUS, dtype: int64

In [187]:
df['ER_STATUS'] = df['ER_STATUS'].astype(str)
df['ER_POS'] = df.groupby('PATIENTID')['ER_STATUS'].transform(lambda patient: True if any('Positive' in tumour for tumour in patient) else False)
df['ER_NEG'] = df.groupby('PATIENTID')['ER_STATUS'].transform(lambda patient: True if any('Negative' in tumour for tumour in patient) else False)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,ER_POS,ER_NEG
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,nan,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,71.0,False,False,False,False,False,True,False,False,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,68.0,True,False,False,False,False,False,False,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,nan,NaN,NaN,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,86.0,False,False,False,False,True,False,False,False,False,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,71.0,True,False,False,False,False,False,False,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,nan,NaN,NaN,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,87.0,True,False,False,False,False,False,False,False,False,False

In [206]:
df = df.drop(['ER_STATUS'], axis = 1)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,ER_POS,ER_NEG,ERSCORE0,ERSCORE2,ERSCORE3,ERSCORE4,ERSCORE5,ERSCORE6,ERSCORE7,ERSCORE8,PR_POS,PR_NEG
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,nan,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,71.0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,nan,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,68.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,nan,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,86.0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,nan,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,71.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,nan,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,87.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [191]:
df['ER_SCORE'].value_counts()

8.0    31044
0.0     5276
7.0     3920
6.0     1200
5.0      673
4.0      576
3.0      543
2.0      498
1.0       10
Name: ER_SCORE, dtype: int64

In [192]:
def er_score(value):
    if value == 1:
        return np.nan
    else:
        return value

df['ER_SCORE'] = df['ER_SCORE'].apply(er_score)
df['ER_SCORE'].value_counts()

8.0    31044
0.0     5276
7.0     3920
6.0     1200
5.0      673
4.0      576
3.0      543
2.0      498
Name: ER_SCORE, dtype: int64

In [194]:
df['ER_SCORE'] = df['ER_SCORE'].astype(str)
df['ERSCORE0'] = df.groupby('PATIENTID')['ER_SCORE'].transform(lambda patient: True if any('0.0' in tumour for tumour in patient) else False)
df['ERSCORE2'] = df.groupby('PATIENTID')['ER_SCORE'].transform(lambda patient: True if any('2.0' in tumour for tumour in patient) else False)
df['ERSCORE3'] = df.groupby('PATIENTID')['ER_SCORE'].transform(lambda patient: True if any('3.0' in tumour for tumour in patient) else False)
df['ERSCORE4'] = df.groupby('PATIENTID')['ER_SCORE'].transform(lambda patient: True if any('4.0' in tumour for tumour in patient) else False)
df['ERSCORE5'] = df.groupby('PATIENTID')['ER_SCORE'].transform(lambda patient: True if any('5.0' in tumour for tumour in patient) else False)
df['ERSCORE6'] = df.groupby('PATIENTID')['ER_SCORE'].transform(lambda patient: True if any('6.0' in tumour for tumour in patient) else False)
df['ERSCORE7'] = df.groupby('PATIENTID')['ER_SCORE'].transform(lambda patient: True if any('7.0' in tumour for tumour in patient) else False)
df['ERSCORE8'] = df.groupby('PATIENTID')['ER_SCORE'].transform(lambda patient: True if any('8.0' in tumour for tumour in patient) else False)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,ER_POS,ER_NEG,ERSCORE0,ERSCORE2,ERSCORE3,ERSCORE4,ERSCORE5,ERSCORE6,ERSCORE7,ERSCORE8
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,nan,nan,NaN,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,71.0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,68.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,nan,nan,NaN,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,86.0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,71.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,nan,nan,NaN,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,87.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [205]:
df = df.drop(['ER_SCORE'], axis = 1)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,ER_STATUS,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,ER_POS,ER_NEG,ERSCORE0,ERSCORE2,ERSCORE3,ERSCORE4,ERSCORE5,ERSCORE6,ERSCORE7,ERSCORE8,PR_POS,PR_NEG
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,nan,nan,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,71.0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,nan,nan,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,68.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,nan,nan,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,86.0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,nan,nan,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,71.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,nan,nan,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,87.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [200]:
df['PR_STATUS'].value_counts()

P     34650
N     15986
U      6359
X      2245
Pm      329
B        87
Name: PR_STATUS, dtype: int64

In [201]:
df['PR_STATUS'] = df['PR_STATUS'].astype(str)
def pr_status(value):
    if value.startswith('P'):
        return 'Positive'
    elif value.startswith('N'):
        return 'Negative'    
    elif value == 'U' or value == 'X' or value == 'B' or value == 'nan':
        return np.nan        
    else:
        return value

df['PR_STATUS'] = df['PR_STATUS'].apply(pr_status)
df['PR_STATUS'].value_counts()

Positive    34979
Negative    15986
Name: PR_STATUS, dtype: int64

In [202]:
df['PR_STATUS'] = df['PR_STATUS'].astype(str)
df['PR_POS'] = df.groupby('PATIENTID')['PR_STATUS'].transform(lambda patient: True if any('Positive' in tumour for tumour in patient) else False)
df['PR_NEG'] = df.groupby('PATIENTID')['PR_STATUS'].transform(lambda patient: True if any('Negative' in tumour for tumour in patient) else False)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,ER_POS,ER_NEG,ERSCORE0,ERSCORE2,ERSCORE3,ERSCORE4,ERSCORE5,ERSCORE6,ERSCORE7,ERSCORE8,PR_POS,PR_NEG
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,nan,nan,nan,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,71.0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,68.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,nan,nan,nan,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,86.0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,71.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,nan,nan,nan,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,87.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [207]:
df = df.drop(['PR_STATUS'], axis = 1)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,ER_POS,ER_NEG,ERSCORE0,ERSCORE2,ERSCORE3,ERSCORE4,ERSCORE5,ERSCORE6,ERSCORE7,ERSCORE8,PR_POS,PR_NEG
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,NaN,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,71.0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,68.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,NaN,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,86.0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,71.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,NaN,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,87.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [208]:
df['PR_SCORE'].value_counts()

8.0    9254
0.0    6776
7.0    3222
6.0    2086
5.0    1634
4.0    1260
3.0     823
2.0     541
1.0      25
Name: PR_SCORE, dtype: int64

In [209]:
def pr_score(value):
    if value == 1:
        return np.nan
    else:
        return value

df['PR_SCORE'] = df['PR_SCORE'].apply(pr_score)
df['PR_SCORE'].value_counts()

8.0    9254
0.0    6776
7.0    3222
6.0    2086
5.0    1634
4.0    1260
3.0     823
2.0     541
Name: PR_SCORE, dtype: int64

In [210]:
df['PR_SCORE'] = df['PR_SCORE'].astype(str)
df['PRSCORE0'] = df.groupby('PATIENTID')['PR_SCORE'].transform(lambda patient: True if any('0.0' in tumour for tumour in patient) else False)
df['PRSCORE2'] = df.groupby('PATIENTID')['PR_SCORE'].transform(lambda patient: True if any('2.0' in tumour for tumour in patient) else False)
df['PRSCORE3'] = df.groupby('PATIENTID')['PR_SCORE'].transform(lambda patient: True if any('3.0' in tumour for tumour in patient) else False)
df['PRSCORE4'] = df.groupby('PATIENTID')['PR_SCORE'].transform(lambda patient: True if any('4.0' in tumour for tumour in patient) else False)
df['PRSCORE5'] = df.groupby('PATIENTID')['PR_SCORE'].transform(lambda patient: True if any('5.0' in tumour for tumour in patient) else False)
df['PRSCORE6'] = df.groupby('PATIENTID')['PR_SCORE'].transform(lambda patient: True if any('6.0' in tumour for tumour in patient) else False)
df['PRSCORE7'] = df.groupby('PATIENTID')['PR_SCORE'].transform(lambda patient: True if any('7.0' in tumour for tumour in patient) else False)
df['PRSCORE8'] = df.groupby('PATIENTID')['PR_SCORE'].transform(lambda patient: True if any('8.0' in tumour for tumour in patient) else False)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,ER_POS,ER_NEG,ERSCORE0,ERSCORE2,ERSCORE3,ERSCORE4,ERSCORE5,ERSCORE6,ERSCORE7,ERSCORE8,PR_POS,PR_NEG,PRSCORE0,PRSCORE2,PRSCORE3,PRSCORE4,PRSCORE5,PRSCORE6,PRSCORE7,PRSCORE8
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,nan,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,71.0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,nan,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,68.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,nan,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,86.0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,nan,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,71.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,nan,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,87.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [213]:
df = df.drop(['PR_SCORE'], axis = 1)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,ER_POS,ER_NEG,ERSCORE0,ERSCORE2,ERSCORE3,ERSCORE4,ERSCORE5,ERSCORE6,ERSCORE7,ERSCORE8,PR_POS,PR_NEG,PRSCORE0,PRSCORE2,PRSCORE3,PRSCORE4,PRSCORE5,PRSCORE6,PRSCORE7,PRSCORE8
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,NaN,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,71.0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,68.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,NaN,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,86.0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,71.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,NaN,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,87.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [214]:
df['HER2_STATUS'].value_counts()

N     68699
P     11371
B      3447
Pm      229
X       197
Name: HER2_STATUS, dtype: int64

In [215]:
df['HER2_STATUS'] = df['HER2_STATUS'].astype(str)
def her2_status(value):
    if value.startswith('P'):
        return 'Positive'
    elif value.startswith('N'):
        return 'Negative'    
    elif value == 'X' or value == 'B' or value == 'nan':
        return np.nan        
    else:
        return value

df['HER2_STATUS'] = df['HER2_STATUS'].apply(her2_status)
df['HER2_STATUS'].value_counts()

Negative    68699
Positive    11600
Name: HER2_STATUS, dtype: int64

In [216]:
df['HER2_STATUS'] = df['HER2_STATUS'].astype(str)
df['HER_POS'] = df.groupby('PATIENTID')['HER2_STATUS'].transform(lambda patient: True if any('Positive' in tumour for tumour in patient) else False)
df['HER_NEG'] = df.groupby('PATIENTID')['HER2_STATUS'].transform(lambda patient: True if any('Negative' in tumour for tumour in patient) else False)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,ER_POS,ER_NEG,ERSCORE0,ERSCORE2,ERSCORE3,ERSCORE4,ERSCORE5,ERSCORE6,ERSCORE7,ERSCORE8,PR_POS,PR_NEG,PRSCORE0,PRSCORE2,PRSCORE3,PRSCORE4,PRSCORE5,PRSCORE6,PRSCORE7,PRSCORE8,HER_POS,HER_NEG
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,nan,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,71.0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,nan,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,68.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,nan,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,86.0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,nan,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,71.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,nan,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,87.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [220]:
df = df.drop(['HER2_STATUS'], axis = 1)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,CANCERCAREPLANINTENT,PERFORMANCESTATUS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,NUMBER_OF_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,ER_POS,ER_NEG,ERSCORE0,ERSCORE2,ERSCORE3,ERSCORE4,ERSCORE5,ERSCORE6,ERSCORE7,ERSCORE8,PR_POS,PR_NEG,PRSCORE0,PRSCORE2,PRSCORE3,PRSCORE4,PRSCORE5,PRSCORE6,PRSCORE7,PRSCORE8,HER_POS,HER_NEG
624,10000724,M,810000724,White British,A,2017-01-16,10335800,2013-09-08,C50,C,NaN,NaN,NaN,R,3,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,71.0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
650,10000752,F,810000752,White British,A,2017-01-16,10335805,2015-11-11,C50,NaN,NaN,NaN,2016-09-18,L,1 - least deprived,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,68.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
913,10001050,F,810001050,White British,A,2017-01-16,10335823,2015-10-24,C50,Z,NaN,NaN,2015-12-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,86.0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1543,10001750,M,810001750,White British,A,2017-01-16,10335873,2014-09-23,C50,NaN,NaN,NaN,2014-09-23,L,1 - least deprived,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,71.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1613,10001824,F,810001824,Other ethnic group,A,2017-01-17,10335879,2015-03-15,C50,C,1,NaN,2015-03-15,L,4,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,87.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [83]:
df['HER2_STATUS'] = df['HER2_STATUS'].astype(str)
def her2_status(value):
    if value == 'Pm' or value == 'B' or value == 'X' or value == 'nan':
        return np.nan
    else:
        return value

df['HER2_STATUS'] = df['HER2_STATUS'].apply(her2_status)
df['HER2_STATUS'].value_counts()

N    65755
P    10946
Name: HER2_STATUS, dtype: int64

In [84]:
df['CANCERCAREPLANINTENT'].value_counts()

C     44451
9      4672
Z      1676
X       188
Cm      179
Zm        4
Name: CANCERCAREPLANINTENT, dtype: int64

In [85]:
df['CANCERCAREPLANINTENT'] = df['CANCERCAREPLANINTENT'].astype(str)
def planintent(value):
    if value == 'C':
        return 'Curative'
    elif value == 'Z':
        return 'Non curative'
    elif value == 'X':
        return 'No active treatment'
    elif value == '9' or value == 'Cm' or value == 'Zm' or value == 'nan':
        return np.nan
    else:
        return value

df['CANCERCAREPLANINTENT'] = df['CANCERCAREPLANINTENT'].apply(planintent)
df['CANCERCAREPLANINTENT'].value_counts()

Curative               44451
Non curative            1676
No active treatment      188
Name: CANCERCAREPLANINTENT, dtype: int64

In [86]:
df['CNS'].value_counts()

Y1     30778
99     10885
Y2      3105
NI       393
Y1m      150
NN        84
Y4        34
Y3         9
Y2m        3
NIm        3
Y4m        1
Name: CNS, dtype: int64

In [106]:
df['CNS'] = df['CNS'].astype(str)
def cns(value):
    if value == '99' or value == 'Y1m' or value == 'Y2m' or value == 'NIm' or value == 'Y4m' or value == 'nan':
        return np.nan
    else:
        return value

df['CNS'] = df['CNS'].apply(cns)
df['CNS'].value_counts()

Y1    30778
Y2     3105
NI      393
NN       84
Y4       34
Y3        9
Name: CNS, dtype: int64

In [87]:
df['ACE27'].value_counts()

9     5927
0     2758
1      828
3      437
2      372
3m       4
1m       3
2m       3
Name: ACE27, dtype: int64

In [88]:
df['ACE27'] = df['ACE27'].astype(str)
def ace27(value):
    if value.startswith('9') or value == 'nan':
        return np.nan
    else:
        return value

df['ACE27'] = df['ACE27'].apply(ace27)
df['ACE27'].value_counts()

0     2758
1      828
3      437
2      372
3m       4
1m       3
2m       3
Name: ACE27, dtype: int64

In [89]:
df['GLEASON_PRIMARY'].value_counts()

3.0    19
4.0    12
5.0     2
Name: GLEASON_PRIMARY, dtype: int64

In [90]:
df['GLEASON_SECONDARY'].value_counts()

3.0    12
4.0     8
5.0     4
Name: GLEASON_SECONDARY, dtype: int64

In [91]:
df['GLEASON_TERTIARY'].value_counts()

3.0    1
Name: GLEASON_TERTIARY, dtype: int64

In [92]:
df['GLEASON_COMBINED'].value_counts()

7.0    13
6.0     9
8.0     3
9.0     1
Name: GLEASON_COMBINED, dtype: int64

In [93]:
pd.set_option('display.max_rows', 20) 
df['DATE_FIRST_SURGERY'].sort_values().dropna()

329245    1995-04-14
366512    2013-01-01
368043    2013-01-01
366219    2013-01-02
326098    2013-01-02
             ...
360695    2016-12-30
321050    2016-12-31
351169    2017-01-02
300153    2017-01-12
321106    2017-01-30
Name: DATE_FIRST_SURGERY, Length: 86881, dtype: object

In [94]:
pd.set_option('display.max_rows', None)

In [95]:
df['LATERALITY'].value_counts()

L    52412
R    49275
9     1333
8      137
M       21
B       13
Name: LATERALITY, dtype: int64

In [96]:
df['LATERALITY'] = df['LATERALITY'].astype(str)
def laterality(value):
    if value.startswith('8') or value.startswith('9') or value == 'nan':
        return np.nan
    else:
        return value

df['LATERALITY'] = df['LATERALITY'].apply(laterality)
df['LATERALITY'].value_counts()

L    52412
R    49275
M       21
B       13
Name: LATERALITY, dtype: int64

In [97]:
df['QUINTILE_2015'].value_counts()

1 - least deprived    24271
2                     23694
3                     21234
4                     18530
5 - most deprived     15463
Name: QUINTILE_2015, dtype: int64

In [98]:
df.shape

(103192, 37)

In [99]:
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,CREG_CODE,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
624,10000724,M,810000724,A,A,2017-01-16,10335800,2013-09-08,C64,C50,8130,Malignant,2,0,0,2B,22.0,G2,71,L1201,NaN,NaN,NaN,NaN,NaN,NaN,Curative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,3
650,10000752,F,810000752,A,A,2017-01-16,10335805,2015-11-11,C504,C50,8140,Malignant,NaN,0,NaN,NaN,22.0,G2,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived
913,10001050,F,810001050,A,A,2017-01-16,10335823,2015-10-24,C343,C50,8130,Malignant,NaN,3,1,4C,22.0,G3,86,L0401,NaN,NaN,NaN,NaN,NaN,NaN,Non curative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-15,L,4
1543,10001750,M,810001750,A,A,2017-01-16,10335873,2014-09-23,C447,C50,8070,Malignant,NaN,NaN,NaN,NaN,NaN,G1,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived
1613,10001824,F,810001824,S,A,2017-01-17,10335879,2015-03-15,C447,C50,8070,Malignant,2b,NaN,0,3A,NaN,G2,87,L0801,NaN,NaN,NaN,NaN,NaN,NaN,Curative,1,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-15,L,4

In [100]:
df.columns

Index(['PATIENTID', 'SEX', 'LINKNUMBER', 'ETHNICITY', 'NEWVITALSTATUS',
       'VITALSTATUSDATE', 'TUMOURID', 'DIAGNOSISDATEBEST', 'SITE_ICD10_O2',
       'SITE_ICD10_O2_3CHAR', 'MORPH_ICD10_O2', 'BEHAVIOUR_ICD10_O2', 'T_BEST',
       'N_BEST', 'M_BEST', 'STAGE_BEST', 'STAGE_BEST_SYSTEM', 'GRADE', 'AGE',
       'CREG_CODE', 'SCREENINGSTATUSFULL_CODE', 'ER_STATUS', 'ER_SCORE',
       'PR_STATUS', 'PR_SCORE', 'HER2_STATUS', 'CANCERCAREPLANINTENT',
       'PERFORMANCESTATUS', 'CNS', 'ACE27', 'GLEASON_PRIMARY',
       'GLEASON_SECONDARY', 'GLEASON_TERTIARY', 'GLEASON_COMBINED',
       'DATE_FIRST_SURGERY', 'LATERALITY', 'QUINTILE_2015'],
      dtype='object')

In [105]:
df.shape

(103192, 37)

In [108]:
df.isna().sum().sort_values(ascending = False)

GLEASON_TERTIARY            103191
GLEASON_SECONDARY           103168
GLEASON_COMBINED            103166
GLEASON_PRIMARY             103159
ACE27                        98787
PR_SCORE                     78644
CNS                          68789
PERFORMANCESTATUS            67044
ER_SCORE                     61346
CANCERCAREPLANINTENT         56877
PR_STATUS                    54652
M_BEST                       41861
SCREENINGSTATUSFULL_CODE     33307
HER2_STATUS                  26491
ER_STATUS                    24817
STAGE_BEST_SYSTEM            16986
DATE_FIRST_SURGERY           16311
N_BEST                       10588
STAGE_BEST                    9605
T_BEST                        9259
GRADE                         6437
ETHNICITY                     2572
SITE_ICD10_O2                 1555
LATERALITY                    1471
BEHAVIOUR_ICD10_O2              53
MORPH_ICD10_O2                  38
LINKNUMBER                       0
QUINTILE_2015                    0
SEX                              0
VITALSTATUSDATE                  0
NEWVITALSTATUS                   0
AGE                              0
TUMOURID                         0
DIAGNOSISDATEBEST                0
SITE_ICD10_O2_3CHAR              0
CREG_CODE                        0
PATIENTID                        0
dtype: int64

In [109]:
columns_selected = ['PATIENTID', 'SEX', 'LINKNUMBER', 'ETHNICITY', 'NEWVITALSTATUS',
       'VITALSTATUSDATE', 'TUMOURID', 'DIAGNOSISDATEBEST', 'SITE_ICD10_O2',
       'SITE_ICD10_O2_3CHAR', 'MORPH_ICD10_O2', 'BEHAVIOUR_ICD10_O2', 'T_BEST',
       'N_BEST', 'M_BEST', 'STAGE_BEST', 'STAGE_BEST_SYSTEM', 'GRADE', 'AGE',
       'CREG_CODE', 'ER_STATUS', 'ER_SCORE', 'SCREENINGSTATUSFULL_CODE',
       'PR_STATUS', 'PR_SCORE', 'HER2_STATUS', 'CANCERCAREPLANINTENT',
       'PERFORMANCESTATUS', 'CNS', 'ACE27', 'DATE_FIRST_SURGERY', 'LATERALITY', 'QUINTILE_2015']

In [110]:
df = df[columns_selected]
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,CREG_CODE,ER_STATUS,ER_SCORE,SCREENINGSTATUSFULL_CODE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
624,10000724,M,810000724,A,A,2017-01-16,10335800,2013-09-08,NaN,C50,8130,Malignant,2,0,0,2B,22.0,G2,71,L1201,NaN,NaN,NaN,NaN,NaN,NaN,Curative,NaN,NaN,NaN,NaN,R,3
650,10000752,F,810000752,A,A,2017-01-16,10335805,2015-11-11,C504,C50,8140,Malignant,NaN,0,NaN,NaN,22.0,G2,68,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-09-18,L,1 - least deprived
913,10001050,F,810001050,A,A,2017-01-16,10335823,2015-10-24,NaN,C50,8130,Malignant,NaN,3,1,4C,22.0,G3,86,L0401,NaN,NaN,NaN,NaN,NaN,NaN,Non curative,NaN,NaN,NaN,2015-12-15,L,4
1543,10001750,M,810001750,A,A,2017-01-16,10335873,2014-09-23,NaN,C50,8070,Malignant,NaN,NaN,NaN,NaN,NaN,G1,71,L0801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-23,L,1 - least deprived
1613,10001824,F,810001824,S,A,2017-01-17,10335879,2015-03-15,NaN,C50,8070,Malignant,2b,NaN,0,3A,NaN,G2,87,L0801,NaN,NaN,NaN,NaN,NaN,NaN,Curative,1,NaN,NaN,2015-03-15,L,4

In [111]:
df.shape

(103192, 33)

In [112]:
df.to_csv('./Data/avpat_avtum.csv', sep='^')

In [158]:
#df = df.set_index(['PATIENTID',df.groupby('PATIENTID').cumcount()+1]).unstack().sort_index(level=1, axis=1)
#df.columns = df.columns.map('{0[0]}_{0[1]}'.format)
#df.reset_index()

KeyboardInterrupt: