In [60]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

In [61]:
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', None)

In [62]:
zf = ZipFile("../../Data/sim_sact_regimen.zip")
csv = zf.open("sim_sact_regimen.csv")
sim_sact_regimen = pd.read_csv(csv, encoding = 'latin1')
sim_sact_regimen.head()

,MERGED_REGIMEN_ID,MERGED_TUMOUR_ID,HEIGHT_AT_START_OF_REGIMEN,WEIGHT_AT_START_OF_REGIMEN,INTENT_OF_TREATMENT,DATE_DECISION_TO_TREAT,START_DATE_OF_REGIMEN,MAPPED_REGIMEN,CLINICAL_TRIAL,CHEMO_RADIATION,MERGED_PATIENT_ID,BENCHMARK_GROUP
0,10000001,10000001,-1.0,NaN,N,2015-03-08,2015-03-08,DEGARELIX,NaN,N,10000235,HORMONES
1,10000002,10000002,NaN,NaN,P,2016-07-09,2016-07-10,BICALUTAMIDE + GOSERELIN,NaN,N,10000315,HORMONES
2,10000003,10000003,NaN,NaN,P,2014-01-09,2014-01-09,EXEMESTANE,02,N,10000337,HORMONES
3,10000004,10000004,NaN,NaN,NaN,2015-03-17,2015-03-23,Rituximab,N,NaN,10000480,RITUXIMAB
4,10000005,10000005,0.0,NaN,C,2012-12-30,2013-03-11,Hydroxycarbamide,N,N,10000533,HYDROXYCARBAMIDE

In [63]:
sim_sact_regimen.shape

(471919, 12)

In [64]:
sim_sact_regimen.isna().sum()

MERGED_REGIMEN_ID                  0
MERGED_TUMOUR_ID                   0
HEIGHT_AT_START_OF_REGIMEN    129514
WEIGHT_AT_START_OF_REGIMEN    129341
INTENT_OF_TREATMENT            62503
DATE_DECISION_TO_TREAT         60416
START_DATE_OF_REGIMEN              0
MAPPED_REGIMEN                  2371
CLINICAL_TRIAL                 61941
CHEMO_RADIATION               103648
MERGED_PATIENT_ID                  0
BENCHMARK_GROUP                    0
dtype: int64

In [65]:
sim_sact_regimen.dtypes

MERGED_REGIMEN_ID               int64
MERGED_TUMOUR_ID                int64
HEIGHT_AT_START_OF_REGIMEN    float64
WEIGHT_AT_START_OF_REGIMEN    float64
INTENT_OF_TREATMENT            object
DATE_DECISION_TO_TREAT         object
START_DATE_OF_REGIMEN          object
MAPPED_REGIMEN                 object
CLINICAL_TRIAL                 object
CHEMO_RADIATION                object
MERGED_PATIENT_ID               int64
BENCHMARK_GROUP                object
dtype: object

In [66]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') == 1].count()

MERGED_REGIMEN_ID             81706
MERGED_TUMOUR_ID              81706
HEIGHT_AT_START_OF_REGIMEN    57203
WEIGHT_AT_START_OF_REGIMEN    57241
INTENT_OF_TREATMENT           69561
DATE_DECISION_TO_TREAT        72104
START_DATE_OF_REGIMEN         81706
MAPPED_REGIMEN                81373
CLINICAL_TRIAL                71271
CHEMO_RADIATION               64349
MERGED_PATIENT_ID             81706
BENCHMARK_GROUP               81706
dtype: int64

In [67]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') > 1].count()

MERGED_REGIMEN_ID             390213
MERGED_TUMOUR_ID              390213
HEIGHT_AT_START_OF_REGIMEN    285202
WEIGHT_AT_START_OF_REGIMEN    285337
INTENT_OF_TREATMENT           339855
DATE_DECISION_TO_TREAT        339399
START_DATE_OF_REGIMEN         390213
MAPPED_REGIMEN                388175
CLINICAL_TRIAL                338707
CHEMO_RADIATION               303922
MERGED_PATIENT_ID             390213
BENCHMARK_GROUP               390213
dtype: int64

In [68]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') == 2].count()

MERGED_REGIMEN_ID             81834
MERGED_TUMOUR_ID              81834
HEIGHT_AT_START_OF_REGIMEN    58950
WEIGHT_AT_START_OF_REGIMEN    58919
INTENT_OF_TREATMENT           70648
DATE_DECISION_TO_TREAT        71402
START_DATE_OF_REGIMEN         81834
MAPPED_REGIMEN                81510
CLINICAL_TRIAL                71465
CHEMO_RADIATION               64378
MERGED_PATIENT_ID             81834
BENCHMARK_GROUP               81834
dtype: int64

In [69]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') == 3].count()

MERGED_REGIMEN_ID             77028
MERGED_TUMOUR_ID              77028
HEIGHT_AT_START_OF_REGIMEN    56218
WEIGHT_AT_START_OF_REGIMEN    56153
INTENT_OF_TREATMENT           66955
DATE_DECISION_TO_TREAT        66928
START_DATE_OF_REGIMEN         77028
MAPPED_REGIMEN                76675
CLINICAL_TRIAL                67048
CHEMO_RADIATION               60465
MERGED_PATIENT_ID             77028
BENCHMARK_GROUP               77028
dtype: int64

In [70]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') == 4].count()

MERGED_REGIMEN_ID             65612
MERGED_TUMOUR_ID              65612
HEIGHT_AT_START_OF_REGIMEN    48024
WEIGHT_AT_START_OF_REGIMEN    48002
INTENT_OF_TREATMENT           57271
DATE_DECISION_TO_TREAT        57105
START_DATE_OF_REGIMEN         65612
MAPPED_REGIMEN                65260
CLINICAL_TRIAL                57225
CHEMO_RADIATION               51042
MERGED_PATIENT_ID             65612
BENCHMARK_GROUP               65612
dtype: int64

In [71]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') == 5].count()

MERGED_REGIMEN_ID             51585
MERGED_TUMOUR_ID              51585
HEIGHT_AT_START_OF_REGIMEN    38051
WEIGHT_AT_START_OF_REGIMEN    37939
INTENT_OF_TREATMENT           45097
DATE_DECISION_TO_TREAT        44793
START_DATE_OF_REGIMEN         51585
MAPPED_REGIMEN                51329
CLINICAL_TRIAL                44845
CHEMO_RADIATION               40318
MERGED_PATIENT_ID             51585
BENCHMARK_GROUP               51585
dtype: int64

In [72]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') == 6].count()

MERGED_REGIMEN_ID             37116
MERGED_TUMOUR_ID              37116
HEIGHT_AT_START_OF_REGIMEN    27372
WEIGHT_AT_START_OF_REGIMEN    27437
INTENT_OF_TREATMENT           32450
DATE_DECISION_TO_TREAT        32245
START_DATE_OF_REGIMEN         37116
MAPPED_REGIMEN                36890
CLINICAL_TRIAL                32060
CHEMO_RADIATION               28701
MERGED_PATIENT_ID             37116
BENCHMARK_GROUP               37116
dtype: int64

In [73]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') > 6].count()

MERGED_REGIMEN_ID             77038
MERGED_TUMOUR_ID              77038
HEIGHT_AT_START_OF_REGIMEN    56587
WEIGHT_AT_START_OF_REGIMEN    56887
INTENT_OF_TREATMENT           67434
DATE_DECISION_TO_TREAT        66926
START_DATE_OF_REGIMEN         77038
MAPPED_REGIMEN                76511
CLINICAL_TRIAL                66064
CHEMO_RADIATION               59018
MERGED_PATIENT_ID             77038
BENCHMARK_GROUP               77038
dtype: int64

In [74]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') > 25].count()

MERGED_REGIMEN_ID             28
MERGED_TUMOUR_ID              28
HEIGHT_AT_START_OF_REGIMEN    16
WEIGHT_AT_START_OF_REGIMEN    22
INTENT_OF_TREATMENT           25
DATE_DECISION_TO_TREAT        27
START_DATE_OF_REGIMEN         28
MAPPED_REGIMEN                28
CLINICAL_TRIAL                23
CHEMO_RADIATION               22
MERGED_PATIENT_ID             28
BENCHMARK_GROUP               28
dtype: int64

In [75]:
print("The original dataset has data for %d patients" % len(sim_sact_regimen))
print("After removing duplicates, the dataset has data for %d patients" % len(sim_sact_regimen.drop_duplicates()))
print("There are no duplicates in the dataset")

The original dataset has data for 471919 patients
After removing duplicates, the dataset has data for 471919 patients
There are no duplicates in the dataset

In [76]:
df = pd.read_csv("./Data/avpat_avtum_sactpat_sacttum.csv", sep = "^", index_col = 0)
df.head()

,PATIENTID,LINKNUMBER,SEX,ETHNICITY,NEWVITALSTATUS,NUMBER_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,ER_POS,ER_NEG,PR_POS,PR_NEG,HER_POS,HER_NEG,CURATIVE,NONCURATIVE,NOACTTREAT,ECOG0,ECOG1,ECOG2,ECOG3,ECOG4,ACE0,ACE1,ACE2,ACE3,LEFT,RIGHT,MIDLINE,BILATERAL,DEPR1,DEPR2,DEPR3,DEPR4,DEPR5,CANCER_DAYS_MEAN,CANCER_MONTHS_MEAN,CANCER_YEARS_MEAN,MERGED_PATIENT_ID,LINK_NUMBER,MERGED_TUMOUR_ID
0,10000724,810000724,M,White British,A,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,71.0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,1226.0,40.280088,3.356674,NaN,NaN,NaN
1,10000752,810000752,F,White British,A,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,68.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,432.0,14.193310,1.182776,NaN,NaN,NaN
2,10001050,810001050,F,White British,A,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,86.0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,450.0,14.784698,1.232058,NaN,NaN,NaN
3,10001750,810001750,M,White British,A,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,71.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,846.0,27.795232,2.316269,NaN,NaN,NaN
4,10001824,810001824,F,Other ethnic group,A,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,87.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,674.0,22.144192,1.845349,NaN,NaN,NaN

In [77]:
df.shape

(124739, 70)

In [78]:
df = df.merge(sim_sact_regimen, left_on = 'MERGED_TUMOUR_ID', right_on = 'MERGED_TUMOUR_ID', how = 'left')
df.head()

,PATIENTID,LINKNUMBER,SEX,ETHNICITY,NEWVITALSTATUS,NUMBER_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,ER_POS,ER_NEG,PR_POS,PR_NEG,HER_POS,HER_NEG,CURATIVE,NONCURATIVE,NOACTTREAT,ECOG0,ECOG1,ECOG2,ECOG3,ECOG4,ACE0,ACE1,ACE2,ACE3,LEFT,RIGHT,MIDLINE,BILATERAL,DEPR1,DEPR2,DEPR3,DEPR4,DEPR5,CANCER_DAYS_MEAN,CANCER_MONTHS_MEAN,CANCER_YEARS_MEAN,MERGED_PATIENT_ID_x,LINK_NUMBER,MERGED_TUMOUR_ID,MERGED_REGIMEN_ID,HEIGHT_AT_START_OF_REGIMEN,WEIGHT_AT_START_OF_REGIMEN,INTENT_OF_TREATMENT,DATE_DECISION_TO_TREAT,START_DATE_OF_REGIMEN,MAPPED_REGIMEN,CLINICAL_TRIAL,CHEMO_RADIATION,MERGED_PATIENT_ID_y,BENCHMARK_GROUP
0,10000724,810000724,M,White British,A,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,71.0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,1226.0,40.280088,3.356674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000752,810000752,F,White British,A,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,68.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,432.0,14.193310,1.182776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001050,810001050,F,White British,A,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,86.0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,450.0,14.784698,1.232058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001750,810001750,M,White British,A,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,71.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,846.0,27.795232,2.316269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001824,810001824,F,Other ethnic group,A,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,87.0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,674.0,22.144192,1.845349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
df.shape

(162536, 81)

In [80]:
df['HEIGHT_AT_START_OF_REGIMEN'].describe()

count    61879.000000
mean         1.568381
std          0.321759
min         -1.000000
25%          1.580000
50%          1.620000
75%          1.670000
max          2.100000
Name: HEIGHT_AT_START_OF_REGIMEN, dtype: float64

In [81]:
df['HEIGHT_AT_START_OF_REGIMEN'].unique()

array([  nan,  1.67,  1.68,  1.6 ,  1.75,  0.  ,  1.8 ,  1.7 ,  1.65,
        1.76,  1.82,  1.63,  1.71,  1.78,  1.83,  1.72,  1.69,  1.54,
       -1.  ,  1.77,  1.62,  1.53,  1.74,  1.73,  1.58,  1.55,  1.59,
        1.57,  1.66,  1.85,  1.81,  1.56,  1.64,  1.61,  1.47,  1.51,
        2.  ,  1.87,  1.52,  1.86,  1.48,  0.62,  1.5 ,  1.79,  1.46,
        1.45,  1.49,  1.41,  0.85,  1.44,  1.84,  1.17,  1.42,  0.71,
        1.4 ,  0.6 ,  1.35,  1.43,  1.36,  1.3 ,  1.88,  0.1 ,  1.89,
        1.31,  1.23,  1.98,  1.2 ,  1.1 ,  0.8 ,  0.02,  0.94,  0.79,
        1.  ,  1.9 ,  0.59,  1.18,  0.88,  0.93,  1.91,  1.94,  0.54,
        0.63,  1.03,  1.37,  0.84,  1.06,  0.7 ,  1.39,  1.01,  1.16,
        0.74,  1.27,  1.38,  0.01,  0.57,  0.53,  1.33,  1.92,  1.04,
        1.15,  2.1 ,  0.52])

In [82]:
def height(value):
    if value < 0.5:
        return np.nan
    else:
        return value
df['HEIGHT_AT_START_OF_REGIMEN'] = df['HEIGHT_AT_START_OF_REGIMEN'].apply(height)    
df['HEIGHT_AT_START_OF_REGIMEN'].unique()

array([ nan, 1.67, 1.68, 1.6 , 1.75, 1.8 , 1.7 , 1.65, 1.76, 1.82, 1.63,
       1.71, 1.78, 1.83, 1.72, 1.69, 1.54, 1.77, 1.62, 1.53, 1.74, 1.73,
       1.58, 1.55, 1.59, 1.57, 1.66, 1.85, 1.81, 1.56, 1.64, 1.61, 1.47,
       1.51, 2.  , 1.87, 1.52, 1.86, 1.48, 0.62, 1.5 , 1.79, 1.46, 1.45,
       1.49, 1.41, 0.85, 1.44, 1.84, 1.17, 1.42, 0.71, 1.4 , 0.6 , 1.35,
       1.43, 1.36, 1.3 , 1.88, 1.89, 1.31, 1.23, 1.98, 1.2 , 1.1 , 0.8 ,
       0.94, 0.79, 1.  , 1.9 , 0.59, 1.18, 0.88, 0.93, 1.91, 1.94, 0.54,
       0.63, 1.03, 1.37, 0.84, 1.06, 0.7 , 1.39, 1.01, 1.16, 0.74, 1.27,
       1.38, 0.57, 0.53, 1.33, 1.92, 1.04, 1.15, 2.1 , 0.52])

In [83]:
df['HEIGHT_AT_START_OF_REGIMEN'].describe()

count    59816.000000
mean         1.625639
std          0.076637
min          0.520000
25%          1.580000
50%          1.620000
75%          1.670000
max          2.100000
Name: HEIGHT_AT_START_OF_REGIMEN, dtype: float64

In [84]:
df['WEIGHT_AT_START_OF_REGIMEN'].describe()

count    61051.000000
mean        72.097255
std         20.474668
min         -1.000000
25%         61.700000
50%         71.000000
75%         82.400000
max        577.000000
Name: WEIGHT_AT_START_OF_REGIMEN, dtype: float64

In [85]:
def weight(value):
    if value < 10 or value >= 350:
        return np.nan
    else:
        return value
df['WEIGHT_AT_START_OF_REGIMEN'] = df['WEIGHT_AT_START_OF_REGIMEN'].apply(weight)    
df['WEIGHT_AT_START_OF_REGIMEN'].sort_values(ascending = False).head(20)

102223    272.4
108943    272.4
99398     266.4
106182    266.4
114668    206.0
109221    191.4
108561    191.4
149360    179.6
131435    173.6
147401    173.0
11796     171.5
98249     169.0
48703     169.0
89439     169.0
117817    169.0
61483     169.0
9928      169.0
103134    169.0
48564     168.6
132402    167.4
Name: WEIGHT_AT_START_OF_REGIMEN, dtype: float64

In [86]:
df['WEIGHT_AT_START_OF_REGIMEN'].sort_values().head(20)

132251    10.00
130587    10.00
133183    10.00
133547    10.00
158477    11.80
159836    13.70
160386    16.50
158703    17.70
159901    17.80
158167    18.00
158948    18.60
159080    19.30
50189     20.00
159538    20.20
159375    21.90
160107    23.20
159633    23.60
158188    23.85
159599    24.40
158388    24.50
Name: WEIGHT_AT_START_OF_REGIMEN, dtype: float64

In [90]:
df['BMI'] = df.WEIGHT_AT_START_OF_REGIMEN / ((df.HEIGHT_AT_START_OF_REGIMEN) ** 2)
df[['WEIGHT_AT_START_OF_REGIMEN', 'HEIGHT_AT_START_OF_REGIMEN', 'BMI']].dropna().head(10)

     WEIGHT_AT_START_OF_REGIMEN  HEIGHT_AT_START_OF_REGIMEN        BMI
27                         61.3                        1.60  23.945312
42                         80.0                        1.75  26.122449
101                        68.7                        1.65  25.234160
102                        81.8                        1.76  26.407541
109                        80.7                        1.63  30.373744
124                        73.6                        1.78  23.229390
129                        96.0                        1.83  28.666129
151                        93.7                        1.72  31.672526
152                        80.9                        1.69  28.325339
167                       111.0                        1.72  37.520281

In [91]:
df['BMI'].describe()

count    47147.000000
mean        28.243166
std          7.628922
min          3.585643
25%         23.437500
50%         27.159109
75%         31.828090
max        289.281998
Name: BMI, dtype: float64

In [92]:
df['BMI'].sort_values(ascending=False).head(20)

27106     289.281998
157251    228.551086
61101     224.073542
97572     222.222222
77471     211.934156
61505     207.500000
157219    206.217298
160281    201.553254
10014     196.666667
102328    194.285714
5585      193.611111
101409    189.166667
61974     177.391554
72497     170.265349
78140     161.249685
160522    159.375000
5965      158.611111
5526      156.714938
44825     146.796271
16839     138.333333
Name: BMI, dtype: float64

In [93]:
df['BMI'].sort_values().head(20)

132251     3.585643
133547     3.763785
130587     3.906250
133183     3.906250
159836     4.135974
158477     4.787212
160386     5.092593
158948     5.152355
159080     6.448595
158167     6.611570
50189      6.920415
159921     7.435157
159375     7.947452
158388     8.092218
158452     9.142857
130614    10.976240
158839    10.976562
159538    11.419526
146236    12.187872
160186    12.357795
Name: BMI, dtype: float64

In [96]:
def bmi(value):
    if value < 10 or value > 100:
        return np.nan
    else:
        return value
df['BMI'] = df['BMI'].apply(bmi)    
df['BMI'].sort_values(ascending = False).head(20)

12077     99.385043
108943    94.256055
10888     91.251736
159059    90.700000
61826     82.700000
114668    80.468750
97776     79.289941
133138    74.400000
63779     74.000000
101020    73.696145
101928    72.979708
149360    72.862996
98860     72.325139
159813    72.086801
78327     71.637289
99666     71.404959
108561    69.458557
52316     69.421488
123571    69.219563
147401    67.578125
Name: BMI, dtype: float64

In [97]:
df['BMI'].sort_values().head(20)

130614    10.976240
158839    10.976562
159538    11.419526
146236    12.187872
160186    12.357795
158879    12.407407
131705    12.488522
136165    12.600000
162522    12.641285
147875    12.654321
159160    12.656250
159843    12.679628
64801     12.763540
161441    13.000000
143309    13.050000
146385    13.093878
110764    13.200000
159953    13.211785
52873     13.355102
132444    13.391003
Name: BMI, dtype: float64

In [99]:
df[['WEIGHT_AT_START_OF_REGIMEN', 'HEIGHT_AT_START_OF_REGIMEN', 'BMI']].dropna().sort_values(by = 'BMI').head(10)

        WEIGHT_AT_START_OF_REGIMEN  HEIGHT_AT_START_OF_REGIMEN        BMI
130614                       34.00                        1.76  10.976240
158839                       28.10                        1.60  10.976562
159538                       20.20                        1.33  11.419526
146236                       36.90                        1.74  12.187872
160186                       30.85                        1.58  12.357795
158879                       40.20                        1.80  12.407407
131705                       34.00                        1.65  12.488522
136165                       50.40                        2.00  12.600000
162522                       34.00                        1.64  12.641285
147875                       41.00                        1.80  12.654321

In [100]:
df[['WEIGHT_AT_START_OF_REGIMEN', 'HEIGHT_AT_START_OF_REGIMEN', 'BMI']].dropna().sort_values(by = 'BMI', ascending = False).head(10)

        WEIGHT_AT_START_OF_REGIMEN  HEIGHT_AT_START_OF_REGIMEN        BMI
12077                         50.1                        0.71  99.385043
108943                       272.4                        1.70  94.256055
10888                         46.0                        0.71  91.251736
159059                        90.7                        1.00  90.700000
61826                         82.7                        1.00  82.700000
114668                       206.0                        1.60  80.468750
97776                        134.0                        1.30  79.289941
133138                       167.4                        1.50  74.400000
63779                         74.0                        1.00  74.000000
101020                        52.0                        0.84  73.696145

In [101]:
df['BMI'].describe()

count    47104.000000
mean        28.166757
std          6.711363
min         10.976240
25%         23.437500
50%         27.153654
75%         31.816893
max         99.385043
Name: BMI, dtype: float64

In [102]:
df['INTENT_OF_TREATMENT'].value_counts()

A    42308
P    11769
N    10864
9     5924
C     3333
D     1174
1      175
U      110
3       74
R       59
2       51
4       45
a       11
p       10
c        7
5        4
T        3
?        2
Name: INTENT_OF_TREATMENT, dtype: int64

In [111]:
# Source: https://www.datadictionary.nhs.uk/data_dictionary/attributes/c/cancer_treatment_intent_de.asp?shownav=1
df['INTENT_OF_TREATMENT'] = df['INTENT_OF_TREATMENT'].astype(str)
def intent(value):
    if value == '1' or value == 'C' or value == 'c':
        return 'Curative'
    elif value == '2' or value == 'P' or value == 'p':
        return 'Palliative'
    elif value == '3':
        return 'Disease modification'
    elif value == '4' or value == 'D':
        return 'Diagnostic'
    elif value == '5':
        return 'Staging'
    elif value == '4' or value == 'D':
        return 'Diagnostic'
    elif value == 'A' or value == 'a':
        return 'Adjuvant'
    elif value == 'N':
        return 'Neoadjuvant'
    elif value == '9' or value == 'R' or value == 'U' or value == '?' or value == 'T' or value == 'nan':
        return np.nan
    else:
        return value
df['INTENT_OF_TREATMENT'] = df['INTENT_OF_TREATMENT'].apply(intent)    
df['INTENT_OF_TREATMENT'].value_counts()

Adjuvant                42319
Palliative              11830
Neoadjuvant             10864
Curative                 3515
Diagnostic               1219
Disease modification       74
Staging                     4
Name: INTENT_OF_TREATMENT, dtype: int64

In [112]:
df['DATE_DECISION_TO_TREAT'].sort_values().dropna().head(10)

119202    1941-03-20
118087    1941-04-22
115114    1941-05-11
129107    1941-05-15
117689    1941-05-30
127148    1941-07-02
128800    1941-07-26
127153    1941-08-08
129101    1941-08-12
116418    1941-08-17
Name: DATE_DECISION_TO_TREAT, dtype: object

In [113]:
df['DATE_DECISION_TO_TREAT'].sort_values(ascending = False).dropna().head(10)

143895    2018-12-14
143892    2018-09-06
150490    2018-08-27
148750    2018-08-06
103874    2018-07-30
143893    2018-07-19
150888    2018-06-29
150893    2018-06-17
150892    2018-05-17
150489    2018-05-13
Name: DATE_DECISION_TO_TREAT, dtype: object

In [114]:
df['START_DATE_OF_REGIMEN'].sort_values().dropna().head(10)

117686    1941-05-16
115991    1941-05-16
115119    1941-06-02
115114    1941-06-02
119202    1941-06-04
117689    1941-06-06
127148    1941-07-25
128800    1941-07-26
116418    1941-08-18
116421    1941-08-19
Name: START_DATE_OF_REGIMEN, dtype: object

In [115]:
df['START_DATE_OF_REGIMEN'].sort_values(ascending = False).dropna().head(10)

143895    2018-12-14
103874    2018-09-10
143892    2018-09-06
143893    2018-09-06
150490    2018-09-05
148750    2018-08-07
150888    2018-07-27
150889    2018-07-27
103873    2018-07-09
150893    2018-06-21
Name: START_DATE_OF_REGIMEN, dtype: object

In [117]:
df[['DATE_DECISION_TO_TREAT','START_DATE_OF_REGIMEN']].sort_values(by = 'DATE_DECISION_TO_TREAT').dropna().head(10)

       DATE_DECISION_TO_TREAT START_DATE_OF_REGIMEN
119202             1941-03-20            1941-06-04
118087             1941-04-22            1941-12-26
115114             1941-05-11            1941-06-02
129107             1941-05-15            1941-12-30
117689             1941-05-30            1941-06-06
127148             1941-07-02            1941-07-25
128800             1941-07-26            1941-07-26
127153             1941-08-08            1941-09-27
129101             1941-08-12            1941-09-11
116418             1941-08-17            1941-08-18

In [118]:
df[df['START_DATE_OF_REGIMEN'] < df['DATE_DECISION_TO_TREAT']].head(10)

,PATIENTID,LINKNUMBER,SEX,ETHNICITY,NEWVITALSTATUS,NUMBER_TUMOURS,SC500,SC501,SC502,SC503,SC504,SC505,SC506,SC508,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,ER_POS,ER_NEG,PR_POS,PR_NEG,HER_POS,HER_NEG,CURATIVE,NONCURATIVE,NOACTTREAT,ECOG0,ECOG1,ECOG2,ECOG3,ECOG4,ACE0,ACE1,ACE2,ACE3,LEFT,RIGHT,MIDLINE,BILATERAL,DEPR1,DEPR2,DEPR3,DEPR4,DEPR5,CANCER_DAYS_MEAN,CANCER_MONTHS_MEAN,CANCER_YEARS_MEAN,MERGED_PATIENT_ID_x,LINK_NUMBER,MERGED_TUMOUR_ID,MERGED_REGIMEN_ID,HEIGHT_AT_START_OF_REGIMEN,WEIGHT_AT_START_OF_REGIMEN,INTENT_OF_TREATMENT,DATE_DECISION_TO_TREAT,START_DATE_OF_REGIMEN,MAPPED_REGIMEN,CLINICAL_TRIAL,CHEMO_RADIATION,MERGED_PATIENT_ID_y,BENCHMARK_GROUP,BMI
307,10137301,810137301,F,White British,A,1,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,78.0,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,790.0,25.955358,2.162947,10137301.0,810137301.0,10007736.0,10006282.0,NaN,78.5,NaN,2016-04-24,2016-04-23,MPV,02,N,10137301.0,ARSENIC TRIOXIDE + ATRA,NaN
1016,20000168,820000168,F,White British,A,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,58.0,False,False,False,True,False,False,False,False,True,False,True,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,902.0,29.635105,2.469592,20000168.0,820000168.0,20000023.0,20000066.0,1.55,NaN,Adjuvant,2014-09-15,2014-09-13,FEC 60 or 75,N,N,20000168.0,FEC,NaN
2664,20001413,820001413,F,White British,A,1,False,False,True,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,60.0,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,1040.0,34.169079,2.847423,20001413.0,820001413.0,20024155.0,20050574.0,NaN,63.7,Adjuvant,2014-11-22,2014-09-05,Trastuzumab Subcutaneous,NaN,N,20001413.0,TRASTUZUMAB,NaN
3019,20001686,820001686,F,White British,A,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,91.0,False,False,False,False,False,True,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,494.0,16.230313,1.352526,20001686.0,820001686.0,20024266.0,20091274.0,NaN,77.6,NaN,2015-12-17,2015-12-01,Trastuzumab,NaN,NaN,20001686.0,TRASTUZUMAB,NaN
3522,20002105,820002105,F,White British,A,1,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,39.0,True,False,False,False,False,False,False,False,True,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,432.0,14.193310,1.182776,20002105.0,820002105.0,20024413.0,20050740.0,1.70,59.0,NaN,2016-09-27,2016-03-30,Trastuzumab Subcutaneous,02,N,20002105.0,TRASTUZUMAB,20.415225
4145,20002551,820002551,F,White British,A,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True,False,63.0,False,False,False,False,False,False,True,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,1420.0,46.653935,3.887828,20002551.0,820002551.0,20050482.0,20000983.0,1.48,69.9,Neoadjuvant,2013-03-28,2013-03-08,FEC,N,NaN,20002551.0,FEC,31.911980
4715,20002994,820002994,F,White British,A,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,70.0,False,True,False,False,False,False,False,False,True,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,1357.0,44.584078,3.715340,20002994.0,820002994.0,20000471.0,20001147.0,NaN,NaN,Adjuvant,2014-12-27,2014-12-05,FEC 100,N,N,20002994.0,FEC,NaN
4964,20003189,820003189,F,White British,A,1,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,60.0,False,False,False,False,False,True,False,False,True,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,389.0,12.780550,1.065046,20003189.0,820003189.0,20000497.0,20001215.0,1.57,NaN,Palliative,2014-07-19,2014-06-15,FEC,N,N,20003189.0,FEC,NaN
5175,20003371,820003371,F,White British,A,1,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,True,False,76.0,False,False,False,False,False,False,False,True,True,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,1459.0,47.935276,3.994606,20003371.0,820003371.0,20000533.0,20001284.0,1.75,65.0,Adjuvant,2013-08-03,2013-05-26,FEC 60 or 75,N,N,20003371.0,FEC,21.224490
5344,20003481,820003481,F,White British,A,1,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True,False,89.0,False,False,True,False,False,False,False,False,True,False,True,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,587.0,19.285817,1.607151,20003481.0,820003481.0,20024984.0,20078040.0,1.67,NaN,NaN,2015-10-24,2015-10-20,Trastuzumab,2,N,20003481.0,TRASTUZUMAB,NaN

In [ ]:
def delete_dates(value)
    if df['START_DATE_OF_REGIMEN'] < df['DATE_DECISION_TO_TREAT']: