In [77]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

In [78]:
zf = ZipFile("../../Data/sim_sact_regimen.zip")
csv = zf.open("sim_sact_regimen.csv")
sim_sact_regimen = pd.read_csv(csv, encoding = 'latin1')
sim_sact_regimen.head()

,MERGED_REGIMEN_ID,MERGED_TUMOUR_ID,HEIGHT_AT_START_OF_REGIMEN,WEIGHT_AT_START_OF_REGIMEN,INTENT_OF_TREATMENT,DATE_DECISION_TO_TREAT,START_DATE_OF_REGIMEN,MAPPED_REGIMEN,CLINICAL_TRIAL,CHEMO_RADIATION,MERGED_PATIENT_ID,BENCHMARK_GROUP
0,10000001,10000001,-1.0,NaN,N,2015-03-08,2015-03-08,DEGARELIX,NaN,N,10000235,HORMONES
1,10000002,10000002,NaN,NaN,P,2016-07-09,2016-07-10,BICALUTAMIDE + GOSERELIN,NaN,N,10000315,HORMONES
2,10000003,10000003,NaN,NaN,P,2014-01-09,2014-01-09,EXEMESTANE,02,N,10000337,HORMONES
3,10000004,10000004,NaN,NaN,NaN,2015-03-17,2015-03-23,Rituximab,N,NaN,10000480,RITUXIMAB
4,10000005,10000005,0.0,NaN,C,2012-12-30,2013-03-11,Hydroxycarbamide,N,N,10000533,HYDROXYCARBAMIDE

In [79]:
sim_sact_regimen.shape

(471919, 12)

In [80]:
sim_sact_regimen.isna().sum()

MERGED_REGIMEN_ID                  0
MERGED_TUMOUR_ID                   0
HEIGHT_AT_START_OF_REGIMEN    129514
WEIGHT_AT_START_OF_REGIMEN    129341
INTENT_OF_TREATMENT            62503
DATE_DECISION_TO_TREAT         60416
START_DATE_OF_REGIMEN              0
MAPPED_REGIMEN                  2371
CLINICAL_TRIAL                 61941
CHEMO_RADIATION               103648
MERGED_PATIENT_ID                  0
BENCHMARK_GROUP                    0
dtype: int64

In [81]:
sim_sact_regimen.dtypes

MERGED_REGIMEN_ID               int64
MERGED_TUMOUR_ID                int64
HEIGHT_AT_START_OF_REGIMEN    float64
WEIGHT_AT_START_OF_REGIMEN    float64
INTENT_OF_TREATMENT            object
DATE_DECISION_TO_TREAT         object
START_DATE_OF_REGIMEN          object
MAPPED_REGIMEN                 object
CLINICAL_TRIAL                 object
CHEMO_RADIATION                object
MERGED_PATIENT_ID               int64
BENCHMARK_GROUP                object
dtype: object

In [82]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') > 1].count()

MERGED_REGIMEN_ID             390213
MERGED_TUMOUR_ID              390213
HEIGHT_AT_START_OF_REGIMEN    285202
WEIGHT_AT_START_OF_REGIMEN    285337
INTENT_OF_TREATMENT           339855
DATE_DECISION_TO_TREAT        339399
START_DATE_OF_REGIMEN         390213
MAPPED_REGIMEN                388175
CLINICAL_TRIAL                338707
CHEMO_RADIATION               303922
MERGED_PATIENT_ID             390213
BENCHMARK_GROUP               390213
dtype: int64

In [105]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') == 1].count()

MERGED_REGIMEN_ID             81706
MERGED_TUMOUR_ID              81706
HEIGHT_AT_START_OF_REGIMEN    57203
WEIGHT_AT_START_OF_REGIMEN    57241
INTENT_OF_TREATMENT           69561
DATE_DECISION_TO_TREAT        72104
START_DATE_OF_REGIMEN         81706
MAPPED_REGIMEN                81373
CLINICAL_TRIAL                71271
CHEMO_RADIATION               64349
MERGED_PATIENT_ID             81706
BENCHMARK_GROUP               81706
dtype: int64

In [106]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') == 2].count()

MERGED_REGIMEN_ID             81834
MERGED_TUMOUR_ID              81834
HEIGHT_AT_START_OF_REGIMEN    58950
WEIGHT_AT_START_OF_REGIMEN    58919
INTENT_OF_TREATMENT           70648
DATE_DECISION_TO_TREAT        71402
START_DATE_OF_REGIMEN         81834
MAPPED_REGIMEN                81510
CLINICAL_TRIAL                71465
CHEMO_RADIATION               64378
MERGED_PATIENT_ID             81834
BENCHMARK_GROUP               81834
dtype: int64

In [107]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') == 3].count()

MERGED_REGIMEN_ID             77028
MERGED_TUMOUR_ID              77028
HEIGHT_AT_START_OF_REGIMEN    56218
WEIGHT_AT_START_OF_REGIMEN    56153
INTENT_OF_TREATMENT           66955
DATE_DECISION_TO_TREAT        66928
START_DATE_OF_REGIMEN         77028
MAPPED_REGIMEN                76675
CLINICAL_TRIAL                67048
CHEMO_RADIATION               60465
MERGED_PATIENT_ID             77028
BENCHMARK_GROUP               77028
dtype: int64

In [108]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') == 4].count()

MERGED_REGIMEN_ID             65612
MERGED_TUMOUR_ID              65612
HEIGHT_AT_START_OF_REGIMEN    48024
WEIGHT_AT_START_OF_REGIMEN    48002
INTENT_OF_TREATMENT           57271
DATE_DECISION_TO_TREAT        57105
START_DATE_OF_REGIMEN         65612
MAPPED_REGIMEN                65260
CLINICAL_TRIAL                57225
CHEMO_RADIATION               51042
MERGED_PATIENT_ID             65612
BENCHMARK_GROUP               65612
dtype: int64

In [109]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') == 5].count()

MERGED_REGIMEN_ID             51585
MERGED_TUMOUR_ID              51585
HEIGHT_AT_START_OF_REGIMEN    38051
WEIGHT_AT_START_OF_REGIMEN    37939
INTENT_OF_TREATMENT           45097
DATE_DECISION_TO_TREAT        44793
START_DATE_OF_REGIMEN         51585
MAPPED_REGIMEN                51329
CLINICAL_TRIAL                44845
CHEMO_RADIATION               40318
MERGED_PATIENT_ID             51585
BENCHMARK_GROUP               51585
dtype: int64

In [111]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') == 6].count()

MERGED_REGIMEN_ID             37116
MERGED_TUMOUR_ID              37116
HEIGHT_AT_START_OF_REGIMEN    27372
WEIGHT_AT_START_OF_REGIMEN    27437
INTENT_OF_TREATMENT           32450
DATE_DECISION_TO_TREAT        32245
START_DATE_OF_REGIMEN         37116
MAPPED_REGIMEN                36890
CLINICAL_TRIAL                32060
CHEMO_RADIATION               28701
MERGED_PATIENT_ID             37116
BENCHMARK_GROUP               37116
dtype: int64

In [112]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') > 6].count()

MERGED_REGIMEN_ID             77038
MERGED_TUMOUR_ID              77038
HEIGHT_AT_START_OF_REGIMEN    56587
WEIGHT_AT_START_OF_REGIMEN    56887
INTENT_OF_TREATMENT           67434
DATE_DECISION_TO_TREAT        66926
START_DATE_OF_REGIMEN         77038
MAPPED_REGIMEN                76511
CLINICAL_TRIAL                66064
CHEMO_RADIATION               59018
MERGED_PATIENT_ID             77038
BENCHMARK_GROUP               77038
dtype: int64

In [113]:
sim_sact_regimen[sim_sact_regimen.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') > 10].count()

MERGED_REGIMEN_ID             13439
MERGED_TUMOUR_ID              13439
HEIGHT_AT_START_OF_REGIMEN     9661
WEIGHT_AT_START_OF_REGIMEN     9879
INTENT_OF_TREATMENT           11766
DATE_DECISION_TO_TREAT        11682
START_DATE_OF_REGIMEN         13439
MAPPED_REGIMEN                13340
CLINICAL_TRIAL                11337
CHEMO_RADIATION               10142
MERGED_PATIENT_ID             13439
BENCHMARK_GROUP               13439
dtype: int64

In [83]:
print("The original dataset has data for %d patients" % len(sim_sact_regimen))
print("After removing duplicates, the dataset has data for %d patients" % len(sim_sact_regimen.drop_duplicates()))
print("There are no duplicates in the dataset")

The original dataset has data for 471919 patients
After removing duplicates, the dataset has data for 471919 patients
There are no duplicates in the dataset

In [84]:
df = pd.read_csv("./Data/avpat_avtum_sactpat_sacttum.csv", sep = "^", index_col = 0)
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,...,ACE27,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,MERGED_PATIENT_ID,LINK_NUMBER,MERGED_TUMOUR_ID,CONSULTANT_SPECIALITY_CODE,PRIMARY_DIAGNOSIS,MORPHOLOGY_CLEAN
0,10000724,M,810000724,A,A,2017-01-16,10335800,2013-09-08,NaN,C50,...,NaN,NaN,R,3,NaN,NaN,NaN,NaN,NaN,NaN
1,10000752,F,810000752,A,A,2017-01-16,10335805,2015-11-11,C504,C50,...,NaN,2016-09-18,L,1 - least deprived,NaN,NaN,NaN,NaN,NaN,NaN
2,10001050,F,810001050,A,A,2017-01-16,10335823,2015-10-24,NaN,C50,...,NaN,2015-12-15,L,4,NaN,NaN,NaN,NaN,NaN,NaN
3,10001750,M,810001750,A,A,2017-01-16,10335873,2014-09-23,NaN,C50,...,NaN,2014-09-23,L,1 - least deprived,NaN,NaN,NaN,NaN,NaN,NaN
4,10001824,F,810001824,S,A,2017-01-17,10335879,2015-03-15,NaN,C50,...,NaN,2015-03-15,L,4,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
df.shape

(103192, 39)

In [86]:
df = df.merge(sim_sact_regimen, left_on = 'MERGED_TUMOUR_ID', right_on = 'MERGED_TUMOUR_ID', how = 'left')
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,VITALSTATUSDATE,TUMOURID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,...,HEIGHT_AT_START_OF_REGIMEN,WEIGHT_AT_START_OF_REGIMEN,INTENT_OF_TREATMENT,DATE_DECISION_TO_TREAT,START_DATE_OF_REGIMEN,MAPPED_REGIMEN,CLINICAL_TRIAL,CHEMO_RADIATION,MERGED_PATIENT_ID_y,BENCHMARK_GROUP
0,10000724,M,810000724,A,A,2017-01-16,10335800,2013-09-08,NaN,C50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000752,F,810000752,A,A,2017-01-16,10335805,2015-11-11,C504,C50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001050,F,810001050,A,A,2017-01-16,10335823,2015-10-24,NaN,C50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001750,M,810001750,A,A,2017-01-16,10335873,2014-09-23,NaN,C50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001824,F,810001824,S,A,2017-01-17,10335879,2015-03-15,NaN,C50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
df.shape

(118747, 50)

In [88]:
df['HEIGHT_AT_START_OF_REGIMEN'].describe()

count    22366.000000
mean         1.576841
std          0.302146
min         -1.000000
25%          1.580000
50%          1.620000
75%          1.670000
max          2.000000
Name: HEIGHT_AT_START_OF_REGIMEN, dtype: float64

In [89]:
df['HEIGHT_AT_START_OF_REGIMEN'].unique()

array([  nan,  1.67,  1.68,  1.6 ,  0.  ,  1.8 ,  1.7 ,  1.65,  1.76,
        1.71,  1.78,  1.83,  1.69,  1.72, -1.  ,  1.75,  1.62,  1.53,
        1.58,  1.73,  1.59,  1.74,  1.81,  1.56,  1.63,  1.57,  1.61,
        1.64,  1.66,  1.55,  1.77,  2.  ,  1.86,  1.52,  0.62,  1.5 ,
        1.54,  1.51,  1.47,  1.48,  1.45,  1.49,  1.42,  1.35,  0.6 ,
        1.79,  1.82,  1.4 ,  1.85,  1.43,  1.44,  1.46,  1.84,  1.89,
        1.41,  1.31,  1.23,  1.2 ,  0.8 ,  1.87,  0.79,  1.  ,  1.36,
        1.9 ,  0.59,  0.93,  0.02,  1.91,  0.88,  1.94,  0.54,  0.63,
        1.37,  1.3 ,  1.1 ,  1.06,  0.7 ,  1.88,  1.01,  0.1 ,  0.85,
        1.17,  1.39,  1.27,  1.33,  0.52,  1.98])

In [90]:
def height(value):
    if value < 0.5 or value > 2.5:
        return np.nan
    else:
        return value
df['HEIGHT_AT_START_OF_REGIMEN'] = df['HEIGHT_AT_START_OF_REGIMEN'].apply(height)    
df['HEIGHT_AT_START_OF_REGIMEN'].unique()

array([ nan, 1.67, 1.68, 1.6 , 1.8 , 1.7 , 1.65, 1.76, 1.71, 1.78, 1.83,
       1.69, 1.72, 1.75, 1.62, 1.53, 1.58, 1.73, 1.59, 1.74, 1.81, 1.56,
       1.63, 1.57, 1.61, 1.64, 1.66, 1.55, 1.77, 2.  , 1.86, 1.52, 0.62,
       1.5 , 1.54, 1.51, 1.47, 1.48, 1.45, 1.49, 1.42, 1.35, 0.6 , 1.79,
       1.82, 1.4 , 1.85, 1.43, 1.44, 1.46, 1.84, 1.89, 1.41, 1.31, 1.23,
       1.2 , 0.8 , 1.87, 0.79, 1.  , 1.36, 1.9 , 0.59, 0.93, 1.91, 0.88,
       1.94, 0.54, 0.63, 1.37, 1.3 , 1.1 , 1.06, 0.7 , 1.88, 1.01, 0.85,
       1.17, 1.39, 1.27, 1.33, 0.52, 1.98])

In [91]:
df['HEIGHT_AT_START_OF_REGIMEN'].describe()

count    21735.000000
mean         1.625871
std          0.076330
min          0.520000
25%          1.580000
50%          1.620000
75%          1.670000
max          2.000000
Name: HEIGHT_AT_START_OF_REGIMEN, dtype: float64

In [92]:
df['WEIGHT_AT_START_OF_REGIMEN'].describe()

count    22032.000000
mean        72.722187
std         20.433501
min         -1.000000
25%         62.000000
50%         71.400000
75%         83.000000
max        577.000000
Name: WEIGHT_AT_START_OF_REGIMEN, dtype: float64

In [93]:
def weight(value):
    if value < 5 or value >= 300:
        return np.nan
    else:
        return value
df['WEIGHT_AT_START_OF_REGIMEN'] = df['WEIGHT_AT_START_OF_REGIMEN'].apply(weight)    
df['WEIGHT_AT_START_OF_REGIMEN'].sort_values(ascending = False).head(20)

77638    272.4
75559    266.4
80490    266.4
96913    173.6
78283    169.0
66999    169.0
88177    169.0
34397    169.0
44111    169.0
75197    167.1
91018    166.3
47094    166.0
41149    165.8
38221    165.8
19810    165.0
82830    164.1
57281    164.0
39910    163.0
6356     162.0
54265    161.7
Name: WEIGHT_AT_START_OF_REGIMEN, dtype: float64

In [94]:
df['WEIGHT_AT_START_OF_REGIMEN'].sort_values().head(20)

78274      5.20
11982      5.20
113282     5.80
98819      6.10
98959      6.10
53409      7.00
20569      7.24
257        8.70
2916       9.40
98280     10.00
97439     10.00
98033     10.00
116829    17.80
116488    21.90
115756    24.50
116933    25.10
73434     26.50
71600     26.50
116090    28.10
33849     35.00
Name: WEIGHT_AT_START_OF_REGIMEN, dtype: float64

In [95]:
df['BMI'] = df.WEIGHT_AT_START_OF_REGIMEN / ((df.HEIGHT_AT_START_OF_REGIMEN)**2)
df[['WEIGHT_AT_START_OF_REGIMEN', 'HEIGHT_AT_START_OF_REGIMEN', 'BMI']].dropna()

        WEIGHT_AT_START_OF_REGIMEN  HEIGHT_AT_START_OF_REGIMEN        BMI
27                            61.3                        1.60  23.945312
100                           68.7                        1.65  25.234160
101                           81.8                        1.76  26.407541
120                           73.6                        1.78  23.229390
125                           96.0                        1.83  28.666129
...                            ...                         ...        ...
118701                        79.0                        1.70  27.335640
118714                        75.5                        1.74  24.937244
118720                        93.7                        1.72  31.672526
118721                        70.0                        1.63  26.346494
118736                        63.2                        1.70  21.868512

[17426 rows x 3 columns]

In [96]:
df['BMI'].describe()

count    17426.000000
mean        28.360273
std          7.696316
min          2.311111
25%         23.533043
50%         27.293224
75%         31.992533
max        211.934156
Name: BMI, dtype: float64

In [97]:
df['BMI'].sort_values(ascending=False).head(20)

56521     211.934156
117070    201.553254
77719     194.285714
76985     189.166667
44494     177.391554
52682     170.265349
56982     161.249685
117248    159.375000
4062      158.611111
94162     131.020408
93198     112.664360
77638     106.406250
54014     106.250000
75559     104.062500
45864      74.000000
77390      72.979708
75197      72.325139
75748      71.404959
6356       67.429761
44560      66.641035
Name: BMI, dtype: float64

In [98]:
df['BMI'].sort_values().head(20)

78274      2.311111
11982      2.311111
98959      2.382812
98819      2.474745
20569      2.659320
2916       3.291201
97439      3.585643
257        3.716519
98280      3.763785
98033      3.906250
116488     7.947452
115756     8.092218
116090    10.976562
99985     12.600000
108399    12.654321
46667     12.763540
97547     13.391003
71421     13.520822
14914     13.580247
4556      13.585316
Name: BMI, dtype: float64

In [99]:
def bmi(value):
    if value < 10 or value > 100:
        return np.nan
    else:
        return value
df['BMI'] = df['BMI'].apply(bmi)    
df['BMI'].sort_values(ascending = False).head(20)

45864     74.000000
77390     72.979708
75197     72.325139
75748     71.404959
6356      67.429761
44560     66.641035
38221     66.415639
44111     65.198102
106335    64.911355
39910     64.475298
107677    64.092293
19810     63.654952
96913     62.998984
88584     62.765239
15317     62.453401
82830     61.763710
91018     61.083563
42707     61.000000
47094     60.973370
54272     60.962238
Name: BMI, dtype: float64

In [100]:
df['BMI'].sort_values().head(20)

116090    10.976562
99985     12.600000
108399    12.654321
46667     12.763540
97547     13.391003
71421     13.520822
14914     13.580247
4556      13.585316
50806     13.665675
115292    13.765432
70846     13.867187
98933     13.984008
85057     13.997368
3913      14.033212
48885     14.202855
52600     14.250000
109163    14.342572
38757     14.342572
115656    14.351852
78233     14.455246
Name: BMI, dtype: float64

In [103]:
df[['WEIGHT_AT_START_OF_REGIMEN', 'HEIGHT_AT_START_OF_REGIMEN', 'BMI']].dropna().sort_values(by='BMI')

        WEIGHT_AT_START_OF_REGIMEN  HEIGHT_AT_START_OF_REGIMEN        BMI
116090                        28.1                        1.60  10.976562
99985                         50.4                        2.00  12.600000
108399                        41.0                        1.80  12.654321
46667                         38.2                        1.73  12.763540
97547                         38.7                        1.70  13.391003
...                            ...                         ...        ...
6356                         162.0                        1.55  67.429761
75748                         86.4                        1.10  71.404959
75197                        167.1                        1.52  72.325139
77390                         82.0                        1.06  72.979708
45864                         74.0                        1.00  74.000000

[17400 rows x 3 columns]

In [104]:
df.shape

(118747, 51)