In [1]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
zf = ZipFile('../Data/sim_av_tumour.zip')
csv = zf.open('sim_av_tumour.csv')
df = pd.read_csv(csv)
df.head()

/home/elsa/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5,6,8,9,17,18,20,22,26,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,TUMOURID,PATIENTID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,SEX,CREG_CODE,LINKNUMBER,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
0,10000001,10000001,2015-11-06,C443,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,90,2,L0801,810000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-06,L,3
1,10000002,10000002,2015-10-06,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,84,2,L0301,810000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-06,8,2
2,10000003,10000003,2013-01-30,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,68,1,L0401,810000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1 - least deprived
3,10000004,10000004,2015-09-15,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,69,1,L1001,810000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2
4,10000005,10000005,2014-11-01,C449,C44,8090,3,NaN,NaN,NaN,U,NaN,GX,58,2,L0401,810000005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-11-01,8,2

In [5]:
df.sample(5)

,TUMOURID,PATIENTID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,SEX,CREG_CODE,LINKNUMBER,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
458841,20108046,20108046,2013-04-10,C504,C50,8500,3,1b,0,NaN,1A,22.0,G3,66,2,L0801,820108046,6001,P,8.0,NaN,NaN,N,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-04-30,R,5 - most deprived
1257719,180014376,180014376,2015-04-01,D071,D07,8077,2,NaN,NaN,NaN,0,NaN,GX,60,2,L1201,980014376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-01,8,4
1172407,150018144,150018144,2015-12-22,C712,C71,9440,3,NaN,NaN,NaN,U,NaN,G4,73,2,L0801,950018144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-22,L,2
417702,20066226,20066226,2015-10-13,C509,C50,8500,3,NaN,NaN,NaN,?,NaN,G2,47,2,L1001,820066226,NaN,P,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,1 - least deprived
130760,10133101,10133101,2014-03-31,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,70,1,L0801,810133101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2

In [6]:
df.shape

(1402817, 34)

In [7]:
df.isna().sum()

TUMOURID                          0
PATIENTID                         0
DIAGNOSISDATEBEST                 0
SITE_ICD10_O2                   514
SITE_ICD10_O2_3CHAR             461
MORPH_ICD10_O2                  513
BEHAVIOUR_ICD10_O2              407
T_BEST                       749764
N_BEST                       856420
M_BEST                       867135
STAGE_BEST                       16
STAGE_BEST_SYSTEM            730977
GRADE                         62787
AGE                               0
SEX                               0
CREG_CODE                         0
LINKNUMBER                        0
SCREENINGSTATUSFULL_CODE    1278256
ER_STATUS                   1279117
ER_SCORE                    1344907
PR_STATUS                   1323601
PR_SCORE                    1370032
HER2_STATUS                 1294783
CANCERCAREPLANINTENT         986954
PERFORMANCESTATUS           1021537
CNS                         1032895
ACE27                       1296493
GLEASON_PRIMARY             1344215
GLEASON_SECONDARY           1368300
GLEASON_TERTIARY            1402033
GLEASON_COMBINED            1368240
DATE_FIRST_SURGERY           530103
LATERALITY                       35
QUINTILE_2015                     0
dtype: int64

In [8]:
df.count()

TUMOURID                    1402817
PATIENTID                   1402817
DIAGNOSISDATEBEST           1402817
SITE_ICD10_O2               1402303
SITE_ICD10_O2_3CHAR         1402356
MORPH_ICD10_O2              1402304
BEHAVIOUR_ICD10_O2          1402410
T_BEST                       653053
N_BEST                       546397
M_BEST                       535682
STAGE_BEST                  1402801
STAGE_BEST_SYSTEM            671840
GRADE                       1340030
AGE                         1402817
SEX                         1402817
CREG_CODE                   1402817
LINKNUMBER                  1402817
SCREENINGSTATUSFULL_CODE     124561
ER_STATUS                    123700
ER_SCORE                      57910
PR_STATUS                     79216
PR_SCORE                      32785
HER2_STATUS                  108034
CANCERCAREPLANINTENT         415863
PERFORMANCESTATUS            381280
CNS                          369922
ACE27                        106324
GLEASON_PRIMARY               58602
GLEASON_SECONDARY             34517
GLEASON_TERTIARY                784
GLEASON_COMBINED              34577
DATE_FIRST_SURGERY           872714
LATERALITY                  1402782
QUINTILE_2015               1402817
dtype: int64

In [9]:
df.dtypes

TUMOURID                      int64
PATIENTID                     int64
DIAGNOSISDATEBEST            object
SITE_ICD10_O2                object
SITE_ICD10_O2_3CHAR          object
MORPH_ICD10_O2               object
BEHAVIOUR_ICD10_O2           object
T_BEST                       object
N_BEST                       object
M_BEST                       object
STAGE_BEST                   object
STAGE_BEST_SYSTEM           float64
GRADE                        object
AGE                           int64
SEX                           int64
CREG_CODE                    object
LINKNUMBER                    int64
SCREENINGSTATUSFULL_CODE     object
ER_STATUS                    object
ER_SCORE                    float64
PR_STATUS                    object
PR_SCORE                    float64
HER2_STATUS                  object
CANCERCAREPLANINTENT         object
PERFORMANCESTATUS            object
CNS                          object
ACE27                        object
GLEASON_PRIMARY             float64
GLEASON_SECONDARY           float64
GLEASON_TERTIARY            float64
GLEASON_COMBINED            float64
DATE_FIRST_SURGERY           object
LATERALITY                   object
QUINTILE_2015                object
dtype: object

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1402817 entries, 0 to 1402816
Data columns (total 34 columns):
TUMOURID                    1402817 non-null int64
PATIENTID                   1402817 non-null int64
DIAGNOSISDATEBEST           1402817 non-null object
SITE_ICD10_O2               1402303 non-null object
SITE_ICD10_O2_3CHAR         1402356 non-null object
MORPH_ICD10_O2              1402304 non-null object
BEHAVIOUR_ICD10_O2          1402410 non-null object
T_BEST                      653053 non-null object
N_BEST                      546397 non-null object
M_BEST                      535682 non-null object
STAGE_BEST                  1402801 non-null object
STAGE_BEST_SYSTEM           671840 non-null float64
GRADE                       1340030 non-null object
AGE                         1402817 non-null int64
SEX                         1402817 non-null int64
CREG_CODE                   1402817 non-null object
LINKNUMBER                  1402817 non-null int64
SCREENINGSTATUSFULL_CODE    124561 non-null object
ER_STATUS                   123700 non-null object
ER_SCORE                    57910 non-null float64
PR_STATUS                   79216 non-null object
PR_SCORE                    32785 non-null float64
HER2_STATUS                 108034 non-null object
CANCERCAREPLANINTENT        415863 non-null object
PERFORMANCESTATUS           381280 non-null object
CNS                         369922 non-null object
ACE27                       106324 non-null object
GLEASON_PRIMARY             58602 non-null float64
GLEASON_SECONDARY           34517 non-null float64
GLEASON_TERTIARY            784 non-null float64
GLEASON_COMBINED            34577 non-null float64
DATE_FIRST_SURGERY          872714 non-null object
LATERALITY                  1402782 non-null object
QUINTILE_2015               1402817 non-null object
dtypes: float64(7), int64(5), object(22)
memory usage: 363.9+ MB

In [11]:
df['LINKNUMBER'].nunique()

1322100

In [12]:
df.groupby('PATIENTID')['PATIENTID'].count().sort_values(ascending=False)

PATIENTID
60035351     6
210004664    6
70002509     5
150018274    5
220010521    5
            ..
90003284     1
90003285     1
90003287     1
90003288     1
10000001     1
Name: PATIENTID, Length: 1322100, dtype: int64

In [13]:
df[df.groupby('PATIENTID')['PATIENTID'].transform('size') > 1].sort_values(by='PATIENTID')

,TUMOURID,PATIENTID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,SEX,CREG_CODE,LINKNUMBER,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
15,10000017,10000017,2013-11-16,C443,C44,8090,3,NaN,NaN,NaN,?,23.0,GX,60,1,L1201,810000017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-11-16,R,1 - least deprived
329977,10335753,10000017,2013-11-16,C449,D32,8070,1,NaN,NaN,NaN,U,NaN,G2,60,1,L1201,810000017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1 - least deprived
329978,10335754,10000018,2013-07-27,C508,C44,8070,3,NaN,NaN,NaN,?,NaN,G1,64,1,L1701,810000018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,4
16,10000018,10000018,2013-07-26,C443,C44,8090,3,NaN,0,0,2,23.0,GX,64,1,L1701,810000018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,4
24,10000026,10000026,2015-09-24,C444,C44,8090,3,1,NaN,NaN,?,NaN,GX,70,1,L0801,810000026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-24,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1399445,220048504,220048504,2013-04-02,C940,C94,9840,3,NaN,NaN,NaN,U,NaN,GX,69,2,L0401,1020048504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2
1402606,220051898,220048528,2013-08-23,C542,C92,8312,3,1,0,0,1,22.0,GX,52,2,L0301,1020048528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,4
1399466,220048528,220048528,2013-07-22,C33,C33,8200,3,NaN,NaN,NaN,U,NaN,GX,23,2,L0301,1020048528,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,4
1399473,220048535,220048535,2013-01-10,C930,C93,9891,3,NaN,NaN,NaN,U,NaN,NaN,83,2,L1701,1020048535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,4
1402607,220051899,220048535,2015-07-08,C679,C65,8140,3,3,2b,1,4,22.0,G2,83,2,L1701,1020048535,NaN,NaN,NaN,NaN,NaN,NaN,9,0,Y1,2,NaN,NaN,NaN,NaN,NaN,8,4

In [4]:
df[df.groupby('PATIENTID')['PATIENTID'].transform('size') == 1].sort_values(by='PATIENTID')

,TUMOURID,PATIENTID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,SEX,CREG_CODE,LINKNUMBER,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
0,10000001,10000001,2015-11-06,C443,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,90,2,L0801,810000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-06,L,3
1,10000002,10000002,2015-10-06,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,84,2,L0301,810000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-06,8,2
2,10000003,10000003,2013-01-30,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,68,1,L0401,810000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1 - least deprived
3,10000004,10000004,2015-09-15,C449,C44,8090,3,NaN,NaN,NaN,?,NaN,GX,69,1,L1001,810000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2
4,10000005,10000005,2014-11-01,C449,C44,8090,3,NaN,NaN,NaN,U,NaN,GX,58,2,L0401,810000005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-11-01,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1399504,220048570,220048570,2015-06-04,C930,C93,9891,3,NaN,NaN,NaN,U,NaN,GX,84,1,L1701,1020048570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-05-05,8,5 - most deprived
1399505,220048571,220048571,2014-05-29,D150,D15,8580,0,NaN,NaN,NaN,U,NaN,GX,71,2,L1001,1020048571,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NI,NaN,NaN,NaN,NaN,NaN,2015-03-01,8,4
1399506,220048572,220048572,2013-06-03,C700,C70,9530,3,NaN,NaN,NaN,U,NaN,G1,79,1,L0401,1020048572,NaN,NaN,NaN,NaN,NaN,NaN,C,9,99,9,NaN,NaN,NaN,NaN,NaN,8,3
1399507,220048573,220048573,2014-01-21,C940,C94,9931,3,NaN,NaN,NaN,U,NaN,G2,47,2,L0301,1020048573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,2014-01-21,8,2
1399508,220048574,220048574,2014-08-15,C930,C93,9891,3,NaN,NaN,NaN,U,NaN,GX,57,1,L1701,1020048574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,5 - most deprived

In [14]:
df[df.groupby('PATIENTID')['PATIENTID'].transform('size') == 2].sort_values(by='PATIENTID')

,TUMOURID,PATIENTID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,STAGE_BEST,STAGE_BEST_SYSTEM,GRADE,AGE,SEX,CREG_CODE,LINKNUMBER,SCREENINGSTATUSFULL_CODE,ER_STATUS,ER_SCORE,PR_STATUS,PR_SCORE,HER2_STATUS,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
15,10000017,10000017,2013-11-16,C443,C44,8090,3,NaN,NaN,NaN,?,23.0,GX,60,1,L1201,810000017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-11-16,R,1 - least deprived
329977,10335753,10000017,2013-11-16,C449,D32,8070,1,NaN,NaN,NaN,U,NaN,G2,60,1,L1201,810000017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1 - least deprived
329978,10335754,10000018,2013-07-27,C508,C44,8070,3,NaN,NaN,NaN,?,NaN,G1,64,1,L1701,810000018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,4
16,10000018,10000018,2013-07-26,C443,C44,8090,3,NaN,0,0,2,23.0,GX,64,1,L1701,810000018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,4
24,10000026,10000026,2015-09-24,C444,C44,8090,3,1,NaN,NaN,?,NaN,GX,70,1,L0801,810000026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-24,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1399445,220048504,220048504,2013-04-02,C940,C94,9840,3,NaN,NaN,NaN,U,NaN,GX,69,2,L0401,1020048504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2
1402606,220051898,220048528,2013-08-23,C542,C92,8312,3,1,0,0,1,22.0,GX,52,2,L0301,1020048528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,4
1399466,220048528,220048528,2013-07-22,C33,C33,8200,3,NaN,NaN,NaN,U,NaN,GX,23,2,L0301,1020048528,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,4
1402607,220051899,220048535,2015-07-08,C679,C65,8140,3,3,2b,1,4,22.0,G2,83,2,L1701,1020048535,NaN,NaN,NaN,NaN,NaN,NaN,9,0,Y1,2,NaN,NaN,NaN,NaN,NaN,8,4
1399473,220048535,220048535,2013-01-10,C930,C93,9891,3,NaN,NaN,NaN,U,NaN,NaN,83,2,L1701,1020048535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,4

In [15]:
df[df.groupby('PATIENTID')['PATIENTID'].transform('size') == 6].nunique()

TUMOURID                    12
PATIENTID                    2
DIAGNOSISDATEBEST            6
SITE_ICD10_O2               12
SITE_ICD10_O2_3CHAR          8
MORPH_ICD10_O2               7
BEHAVIOUR_ICD10_O2           3
T_BEST                       7
N_BEST                       3
M_BEST                       2
STAGE_BEST                   6
STAGE_BEST_SYSTEM            3
GRADE                        4
AGE                          8
SEX                          1
CREG_CODE                    3
LINKNUMBER                   2
SCREENINGSTATUSFULL_CODE     0
ER_STATUS                    0
ER_SCORE                     0
PR_STATUS                    0
PR_SCORE                     0
HER2_STATUS                  0
CANCERCAREPLANINTENT         2
PERFORMANCESTATUS            3
CNS                          4
ACE27                        1
GLEASON_PRIMARY              0
GLEASON_SECONDARY            0
GLEASON_TERTIARY             0
GLEASON_COMBINED             0
DATE_FIRST_SURGERY           7
LATERALITY                   4
QUINTILE_2015                2
dtype: int64

In [16]:
df[df.groupby('PATIENTID')['PATIENTID'].transform('size') == 5].nunique()

TUMOURID                    55
PATIENTID                   11
DIAGNOSISDATEBEST           47
SITE_ICD10_O2               37
SITE_ICD10_O2_3CHAR         24
MORPH_ICD10_O2              18
BEHAVIOUR_ICD10_O2           7
T_BEST                      10
N_BEST                       5
M_BEST                       3
STAGE_BEST                  11
STAGE_BEST_SYSTEM            3
GRADE                        4
AGE                         22
SEX                          2
CREG_CODE                    5
LINKNUMBER                  11
SCREENINGSTATUSFULL_CODE     1
ER_STATUS                    0
ER_SCORE                     0
PR_STATUS                    0
PR_SCORE                     0
HER2_STATUS                  0
CANCERCAREPLANINTENT         2
PERFORMANCESTATUS            5
CNS                          4
ACE27                        1
GLEASON_PRIMARY              1
GLEASON_SECONDARY            1
GLEASON_TERTIARY             0
GLEASON_COMBINED             1
DATE_FIRST_SURGERY          33
LATERALITY                   5
QUINTILE_2015                3
dtype: int64

In [17]:
df[df.groupby('PATIENTID')['PATIENTID'].transform('size') == 4].nunique()

TUMOURID                    804
PATIENTID                   201
DIAGNOSISDATEBEST           497
SITE_ICD10_O2               142
SITE_ICD10_O2_3CHAR          76
MORPH_ICD10_O2               76
BEHAVIOUR_ICD10_O2           12
T_BEST                       18
N_BEST                       10
M_BEST                        5
STAGE_BEST                   18
STAGE_BEST_SYSTEM             4
GRADE                         5
AGE                          69
SEX                           2
CREG_CODE                     8
LINKNUMBER                  201
SCREENINGSTATUSFULL_CODE      9
ER_STATUS                     5
ER_SCORE                      6
PR_STATUS                     3
PR_SCORE                      7
HER2_STATUS                   3
CANCERCAREPLANINTENT          5
PERFORMANCESTATUS             7
CNS                           6
ACE27                         5
GLEASON_PRIMARY               2
GLEASON_SECONDARY             4
GLEASON_TERTIARY              0
GLEASON_COMBINED              4
DATE_FIRST_SURGERY          422
LATERALITY                    7
QUINTILE_2015                 5
dtype: int64

In [18]:
df[df.groupby('PATIENTID')['PATIENTID'].transform('size') == 3].nunique()

TUMOURID                    11523
PATIENTID                    3841
DIAGNOSISDATEBEST            1086
SITE_ICD10_O2                 362
SITE_ICD10_O2_3CHAR           102
MORPH_ICD10_O2                227
BEHAVIOUR_ICD10_O2             13
T_BEST                         28
N_BEST                         14
M_BEST                          7
STAGE_BEST                     28
STAGE_BEST_SYSTEM               5
GRADE                           5
AGE                            91
SEX                             2
CREG_CODE                       8
LINKNUMBER                   3841
SCREENINGSTATUSFULL_CODE       23
ER_STATUS                       6
ER_SCORE                        8
PR_STATUS                       5
PR_SCORE                        8
HER2_STATUS                     5
CANCERCAREPLANINTENT            6
PERFORMANCESTATUS              10
CNS                             9
ACE27                           9
GLEASON_PRIMARY                 4
GLEASON_SECONDARY               4
GLEASON_TERTIARY                1
GLEASON_COMBINED                6
DATE_FIRST_SURGERY           1184
LATERALITY                      7
QUINTILE_2015                   5
dtype: int64

In [19]:
df[df.groupby('PATIENTID')['PATIENTID'].transform('size') == 2].nunique()

TUMOURID                    144756
PATIENTID                    72378
DIAGNOSISDATEBEST             1095
SITE_ICD10_O2                  488
SITE_ICD10_O2_3CHAR            113
MORPH_ICD10_O2                 428
BEHAVIOUR_ICD10_O2              15
T_BEST                          38
N_BEST                          20
M_BEST                           8
STAGE_BEST                      35
STAGE_BEST_SYSTEM                7
GRADE                            5
AGE                            100
SEX                              2
CREG_CODE                        8
LINKNUMBER                   72378
SCREENINGSTATUSFULL_CODE        42
ER_STATUS                        6
ER_SCORE                         8
PR_STATUS                        6
PR_SCORE                         9
HER2_STATUS                      5
CANCERCAREPLANINTENT             6
PERFORMANCESTATUS               10
CNS                             11
ACE27                           11
GLEASON_PRIMARY                  4
GLEASON_SECONDARY                4
GLEASON_TERTIARY                 3
GLEASON_COMBINED                 7
DATE_FIRST_SURGERY            1378
LATERALITY                       7
QUINTILE_2015                    5
dtype: int64

In [25]:
df[['DIAGNOSISDATEBEST','DATE_FIRST_SURGERY']].sort_values(by='DATE_FIRST_SURGERY').head(10)

        DIAGNOSISDATEBEST DATE_FIRST_SURGERY
387744         2013-01-30         1995-04-14
785794         2015-04-23         1998-01-27
967100         2015-02-04         2011-05-14
624565         2013-01-02         2011-05-31
1204731        2013-07-16         2011-06-08
974964         2015-03-07         2011-06-13
503963         2013-02-11         2011-09-27
584841         2013-05-01         2011-12-14
194104         2013-02-10         2011-12-18
213343         2013-02-12         2011-12-20