In [16]:
import pandas as pd
from zipfile import ZipFile

In [17]:
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', None)

In [18]:
zf = ZipFile("../../Data/sim_sact_patient.zip")
csv = zf.open("sim_sact_patient.csv")
sim_sact_patient = pd.read_csv(csv)
sim_sact_patient.head()

   MERGED_PATIENT_ID  LINK_NUMBER
0           10000087    810000087
1           10000235    810000235
2           10000283    810000283
3           10000315    810000315
4           10000337    810000337

In [19]:
sim_sact_patient.shape

(245938, 2)

In [20]:
sim_sact_patient.isna().sum()

MERGED_PATIENT_ID    0
LINK_NUMBER          0
dtype: int64

In [21]:
sim_sact_patient['LINK_NUMBER'].nunique()

245938

In [22]:
print("The original dataset has data for %d patients" % len(sim_sact_patient))
print("After removing duplicates, the dataset has data for %d patients" % len(sim_sact_patient.drop_duplicates()))
print("There are no duplicates in the dataset")

The original dataset has data for 245938 patients
After removing duplicates, the dataset has data for 245938 patients
There are no duplicates in the dataset

In [23]:
sim_sact_patient[sim_sact_patient.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') > 1].count()

MERGED_PATIENT_ID    0
LINK_NUMBER          0
dtype: int64

In [24]:
df = pd.read_pickle("./Data/avpat_avtum.pickle")
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,NUMBER_TUMOURS,C180,C181,C182,C183,C184,C185,C186,C187,C188,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,T0,T1,T2,T3,T4,N0,N1,N2,N3,M1,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEDIAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,CURATIVE_TREAT,NONCURATIVE_TREAT,NO_ACTIVE_TREAT,ECOG0,ECOG1,ECOG2,ECOG3,ECOG4,DEPR1,DEPR2,DEPR3,DEPR4,DEPR5,CANCER_YEARS_MEDIAN,DIAG_TO_SURG_DAYS_MEDIAN,DIAGNOSISDATEBEST
865,10001000,F,810001000,White British,A,1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,79.0,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,3.857711,120.0,2013-03-07
990,10001128,F,810001128,NaN,A,1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,86.0,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,2.234132,0.0,2014-10-23
1303,10001482,F,810001482,NaN,A,1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,True,False,False,True,False,False,77.0,True,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,3.022649,0.0,2014-01-08
1683,10001901,M,810001901,NaN,A,1,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,62.0,False,True,False,False,False,False,False,False,True,False,False,True,False,False,False,False,True,False,False,False,False,1.325147,0.0,2015-09-20
2079,10002351,F,810002351,NaN,A,1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,63.0,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,1.158135,29.0,2015-11-20

In [25]:
df.shape

(34062, 64)

In [26]:
df = df.merge(sim_sact_patient, left_on = 'LINKNUMBER', right_on = 'LINK_NUMBER', how = 'left')
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,NUMBER_TUMOURS,C180,C181,C182,C183,C184,C185,C186,C187,C188,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,T0,T1,T2,T3,T4,N0,N1,N2,N3,M1,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEDIAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,CURATIVE_TREAT,NONCURATIVE_TREAT,NO_ACTIVE_TREAT,ECOG0,ECOG1,ECOG2,ECOG3,ECOG4,DEPR1,DEPR2,DEPR3,DEPR4,DEPR5,CANCER_YEARS_MEDIAN,DIAG_TO_SURG_DAYS_MEDIAN,DIAGNOSISDATEBEST,MERGED_PATIENT_ID,LINK_NUMBER
0,10001000,F,810001000,White British,A,1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,79.0,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,3.857711,120.0,2013-03-07,10001000.0,810001000.0
1,10001128,F,810001128,NaN,A,1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,86.0,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,2.234132,0.0,2014-10-23,NaN,NaN
2,10001482,F,810001482,NaN,A,1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,True,False,False,True,False,False,77.0,True,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,3.022649,0.0,2014-01-08,10001482.0,810001482.0
3,10001901,M,810001901,NaN,A,1,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,62.0,False,True,False,False,False,False,False,False,True,False,False,True,False,False,False,False,True,False,False,False,False,1.325147,0.0,2015-09-20,NaN,NaN
4,10002351,F,810002351,NaN,A,1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,63.0,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,1.158135,29.0,2015-11-20,NaN,NaN

In [27]:
df.shape

(34062, 66)

In [28]:
df[df.groupby('PATIENTID')['PATIENTID'].transform('size') > 1].count()

PATIENTID                   742
SEX                         742
LINKNUMBER                  742
ETHNICITY                   690
NEWVITALSTATUS              742
NUMBER_TUMOURS              742
C180                        742
C181                        742
C182                        742
C183                        742
C184                        742
C185                        742
C186                        742
C187                        742
C188                        742
BEH_BENIGN                  742
BEH_MALIG                   742
BEH_MICINV                  742
BEH_INSITU                  742
BEH_UNCERT                  742
T0                          742
T1                          742
T2                          742
T3                          742
T4                          742
N0                          742
N1                          742
N2                          742
N3                          742
M1                          742
STAGE0                      742
STAGE1                      742
STAGE2                      742
STAGE3                      742
STAGE4                      742
GRADE1                      742
GRADE2                      742
GRADE3                      742
GRADE4                      742
AGE_MEDIAN                  742
L0801                       742
L1001                       742
L1701                       742
L0201                       742
L0401                       742
L1201                       742
L0301                       742
L0901                       742
CURATIVE_TREAT              742
NONCURATIVE_TREAT           742
NO_ACTIVE_TREAT             742
ECOG0                       742
ECOG1                       742
ECOG2                       742
ECOG3                       742
ECOG4                       742
DEPR1                       742
DEPR2                       742
DEPR3                       742
DEPR4                       742
DEPR5                       742
CANCER_YEARS_MEDIAN         742
DIAG_TO_SURG_DAYS_MEDIAN    742
DIAGNOSISDATEBEST           742
MERGED_PATIENT_ID           335
LINK_NUMBER                 335
dtype: int64

In [29]:
df.isna().sum()

PATIENTID                       0
SEX                             0
LINKNUMBER                      0
ETHNICITY                    1986
NEWVITALSTATUS                  0
NUMBER_TUMOURS                  0
C180                            0
C181                            0
C182                            0
C183                            0
C184                            0
C185                            0
C186                            0
C187                            0
C188                            0
BEH_BENIGN                      0
BEH_MALIG                       0
BEH_MICINV                      0
BEH_INSITU                      0
BEH_UNCERT                      0
T0                              0
T1                              0
T2                              0
T3                              0
T4                              0
N0                              0
N1                              0
N2                              0
N3                              0
M1                              0
STAGE0                          0
STAGE1                          0
STAGE2                          0
STAGE3                          0
STAGE4                          0
GRADE1                          0
GRADE2                          0
GRADE3                          0
GRADE4                          0
AGE_MEDIAN                      0
L0801                           0
L1001                           0
L1701                           0
L0201                           0
L0401                           0
L1201                           0
L0301                           0
L0901                           0
CURATIVE_TREAT                  0
NONCURATIVE_TREAT               0
NO_ACTIVE_TREAT                 0
ECOG0                           0
ECOG1                           0
ECOG2                           0
ECOG3                           0
ECOG4                           0
DEPR1                           0
DEPR2                           0
DEPR3                           0
DEPR4                           0
DEPR5                           0
CANCER_YEARS_MEDIAN             0
DIAG_TO_SURG_DAYS_MEDIAN        0
DIAGNOSISDATEBEST               0
MERGED_PATIENT_ID           24107
LINK_NUMBER                 24107
dtype: int64

In [30]:
df.to_pickle('./Data/avpat_avtum_sactpat.pickle')