In [1]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
zf = ZipFile("../../Data/sim_sact_tumour.zip")
csv = zf.open("sim_sact_tumour.csv")
sim_sact_tumour = pd.read_csv(csv)
sim_sact_tumour.head()

,MERGED_TUMOUR_ID,MERGED_PATIENT_ID,CONSULTANT_SPECIALITY_CODE,PRIMARY_DIAGNOSIS,MORPHOLOGY_CLEAN
0,10000001,10000235,101.0,C61,81403.0
1,10000002,10000315,101.0,C679,81403.0
2,10000003,10000337,100.0,C500,NaN
3,10000004,10000480,303.0,C829,NaN
4,10000005,10000533,823.0,D473,NaN

In [4]:
sim_sact_tumour.shape

(299727, 5)

In [5]:
print("The original dataset has data for %d patients" % len(sim_sact_tumour))
print("After removing duplicates, the dataset has data for %d patients" % len(sim_sact_tumour.drop_duplicates()))
print("There are no duplicates in the dataset")

The original dataset has data for 299727 patients
After removing duplicates, the dataset has data for 299727 patients
There are no duplicates in the dataset

In [6]:
sim_sact_tumour[sim_sact_tumour.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') > 1].count()

MERGED_TUMOUR_ID              175510
MERGED_PATIENT_ID             175510
CONSULTANT_SPECIALITY_CODE    175506
PRIMARY_DIAGNOSIS             175446
MORPHOLOGY_CLEAN               86818
dtype: int64

In [7]:
sim_sact_tumour[sim_sact_tumour.groupby('MERGED_PATIENT_ID')['MERGED_PATIENT_ID'].transform('size') == 1].count()

MERGED_TUMOUR_ID              124217
MERGED_PATIENT_ID             124217
CONSULTANT_SPECIALITY_CODE    124217
PRIMARY_DIAGNOSIS             124173
MORPHOLOGY_CLEAN               67420
dtype: int64

In [8]:
sim_sact_tumour.columns

Index(['MERGED_TUMOUR_ID', 'MERGED_PATIENT_ID', 'CONSULTANT_SPECIALITY_CODE',
       'PRIMARY_DIAGNOSIS', 'MORPHOLOGY_CLEAN'],
      dtype='object')

In [9]:
columns_selected = ['MERGED_TUMOUR_ID', 'MERGED_PATIENT_ID']
sim_sact_tumour = sim_sact_tumour[columns_selected]
sim_sact_tumour.head()

   MERGED_TUMOUR_ID  MERGED_PATIENT_ID
0          10000001           10000235
1          10000002           10000315
2          10000003           10000337
3          10000004           10000480
4          10000005           10000533

In [10]:
print("The original dataset has data for %d patients" % len(sim_sact_tumour))
print("After removing duplicates, the dataset has data for %d patients" % len(sim_sact_tumour.drop_duplicates()))
print("There are no duplicates in the dataset")

The original dataset has data for 299727 patients
After removing duplicates, the dataset has data for 299727 patients
There are no duplicates in the dataset

In [11]:
df = pd.read_pickle("./Data/avpat_avtum_sactpat.pickle")
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,NUMBER_TUMOURS,C180,C181,C182,C183,C184,C185,C186,C187,C188,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,T0,T1,T2,T3,T4,N0,N1,N2,N3,M1,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEDIAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,CURATIVE_TREAT,NONCURATIVE_TREAT,NO_ACTIVE_TREAT,ECOG0,ECOG1,ECOG2,ECOG3,ECOG4,DEPR1,DEPR2,DEPR3,DEPR4,DEPR5,CANCER_YEARS_MEDIAN,DIAG_TO_SURG_DAYS_MEDIAN,DIAGNOSISDATEBEST,MERGED_PATIENT_ID,LINK_NUMBER
0,10001000,F,810001000,White British,A,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,79.0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,3.857711,120.0,2013-03-07,10001000.0,810001000.0
1,10001128,F,810001128,NaN,A,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,86.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,2.234132,0.0,2014-10-23,NaN,NaN
2,10001482,F,810001482,NaN,A,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,77.0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,3.022649,0.0,2014-01-08,10001482.0,810001482.0
3,10001901,M,810001901,NaN,A,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,62.0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1.325147,0.0,2015-09-20,NaN,NaN
4,10002351,F,810002351,NaN,A,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,63.0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1.158135,29.0,2015-11-20,NaN,NaN

In [12]:
df.shape

(34062, 66)

In [13]:
df = df.merge(sim_sact_tumour, left_on = 'MERGED_PATIENT_ID', right_on = 'MERGED_PATIENT_ID', how = 'left')
df.head()

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,NUMBER_TUMOURS,C180,C181,C182,C183,C184,C185,C186,C187,C188,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,T0,T1,T2,T3,T4,N0,N1,N2,N3,M1,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEDIAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,CURATIVE_TREAT,NONCURATIVE_TREAT,NO_ACTIVE_TREAT,ECOG0,ECOG1,ECOG2,ECOG3,ECOG4,DEPR1,DEPR2,DEPR3,DEPR4,DEPR5,CANCER_YEARS_MEDIAN,DIAG_TO_SURG_DAYS_MEDIAN,DIAGNOSISDATEBEST,MERGED_PATIENT_ID,LINK_NUMBER,MERGED_TUMOUR_ID
0,10001000,F,810001000,White British,A,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,79.0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,3.857711,120.0,2013-03-07,10001000.0,810001000.0,10002223.0
1,10001000,F,810001000,White British,A,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,79.0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,3.857711,120.0,2013-03-07,10001000.0,810001000.0,10005351.0
2,10001128,F,810001128,NaN,A,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,86.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,2.234132,0.0,2014-10-23,NaN,NaN,NaN
3,10001482,F,810001482,NaN,A,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,77.0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,3.022649,0.0,2014-01-08,10001482.0,810001482.0,10005354.0
4,10001482,F,810001482,NaN,A,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,77.0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,3.022649,0.0,2014-01-08,10001482.0,810001482.0,10010150.0

In [14]:
df.shape

(38485, 67)

In [15]:
df = df.drop_duplicates()
df.shape

(38485, 67)

In [16]:
df[df.groupby('PATIENTID')['PATIENTID'].transform('size') > 1].head(10)

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,NEWVITALSTATUS,NUMBER_TUMOURS,C180,C181,C182,C183,C184,C185,C186,C187,C188,BEH_BENIGN,BEH_MALIG,BEH_MICINV,BEH_INSITU,BEH_UNCERT,T0,T1,T2,T3,T4,N0,N1,N2,N3,M1,STAGE0,STAGE1,STAGE2,STAGE3,STAGE4,GRADE1,GRADE2,GRADE3,GRADE4,AGE_MEDIAN,L0801,L1001,L1701,L0201,L0401,L1201,L0301,L0901,CURATIVE_TREAT,NONCURATIVE_TREAT,NO_ACTIVE_TREAT,ECOG0,ECOG1,ECOG2,ECOG3,ECOG4,DEPR1,DEPR2,DEPR3,DEPR4,DEPR5,CANCER_YEARS_MEDIAN,DIAG_TO_SURG_DAYS_MEDIAN,DIAGNOSISDATEBEST,MERGED_PATIENT_ID,LINK_NUMBER,MERGED_TUMOUR_ID
0,10001000,F,810001000,White British,A,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,79.0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,3.857711,120.0,2013-03-07,10001000.0,810001000.0,10002223.0
1,10001000,F,810001000,White British,A,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,79.0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,3.857711,120.0,2013-03-07,10001000.0,810001000.0,10005351.0
3,10001482,F,810001482,NaN,A,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,77.0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,3.022649,0.0,2014-01-08,10001482.0,810001482.0,10005354.0
4,10001482,F,810001482,NaN,A,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,77.0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,3.022649,0.0,2014-01-08,10001482.0,810001482.0,10010150.0
5,10001482,F,810001482,NaN,A,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,77.0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,3.022649,0.0,2014-01-08,10001482.0,810001482.0,10011009.0
13,10003167,F,810003167,White British,A,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,54.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,2.387455,0.0,2014-08-28,10003167.0,810003167.0,10005359.0
14,10003167,F,810003167,White British,A,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,54.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,2.387455,0.0,2014-08-28,10003167.0,810003167.0,10005360.0
15,10003167,F,810003167,White British,A,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,54.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,2.387455,0.0,2014-08-28,10003167.0,810003167.0,10008529.0
45,10018573,M,810018573,White British,A,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,74.0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1.412760,0.0,2015-08-19,10018573.0,810018573.0,10003351.0
46,10018573,M,810018573,White British,A,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,74.0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1.412760,0.0,2015-08-19,10018573.0,810018573.0,10006317.0

In [17]:
df.isna().sum()

PATIENTID                       0
SEX                             0
LINKNUMBER                      0
ETHNICITY                    2249
NEWVITALSTATUS                  0
NUMBER_TUMOURS                  0
C180                            0
C181                            0
C182                            0
C183                            0
C184                            0
C185                            0
C186                            0
C187                            0
C188                            0
BEH_BENIGN                      0
BEH_MALIG                       0
BEH_MICINV                      0
BEH_INSITU                      0
BEH_UNCERT                      0
T0                              0
T1                              0
T2                              0
T3                              0
T4                              0
N0                              0
N1                              0
N2                              0
N3                              0
M1                              0
STAGE0                          0
STAGE1                          0
STAGE2                          0
STAGE3                          0
STAGE4                          0
GRADE1                          0
GRADE2                          0
GRADE3                          0
GRADE4                          0
AGE_MEDIAN                      0
L0801                           0
L1001                           0
L1701                           0
L0201                           0
L0401                           0
L1201                           0
L0301                           0
L0901                           0
CURATIVE_TREAT                  0
NONCURATIVE_TREAT               0
NO_ACTIVE_TREAT                 0
ECOG0                           0
ECOG1                           0
ECOG2                           0
ECOG3                           0
ECOG4                           0
DEPR1                           0
DEPR2                           0
DEPR3                           0
DEPR4                           0
DEPR5                           0
CANCER_YEARS_MEDIAN             0
DIAG_TO_SURG_DAYS_MEDIAN        0
DIAGNOSISDATEBEST               0
MERGED_PATIENT_ID           24107
LINK_NUMBER                 24107
MERGED_TUMOUR_ID            26341
dtype: int64

In [18]:
df.count()

PATIENTID                   38485
SEX                         38485
LINKNUMBER                  38485
ETHNICITY                   36236
NEWVITALSTATUS              38485
NUMBER_TUMOURS              38485
C180                        38485
C181                        38485
C182                        38485
C183                        38485
C184                        38485
C185                        38485
C186                        38485
C187                        38485
C188                        38485
BEH_BENIGN                  38485
BEH_MALIG                   38485
BEH_MICINV                  38485
BEH_INSITU                  38485
BEH_UNCERT                  38485
T0                          38485
T1                          38485
T2                          38485
T3                          38485
T4                          38485
N0                          38485
N1                          38485
N2                          38485
N3                          38485
M1                          38485
STAGE0                      38485
STAGE1                      38485
STAGE2                      38485
STAGE3                      38485
STAGE4                      38485
GRADE1                      38485
GRADE2                      38485
GRADE3                      38485
GRADE4                      38485
AGE_MEDIAN                  38485
L0801                       38485
L1001                       38485
L1701                       38485
L0201                       38485
L0401                       38485
L1201                       38485
L0301                       38485
L0901                       38485
CURATIVE_TREAT              38485
NONCURATIVE_TREAT           38485
NO_ACTIVE_TREAT             38485
ECOG0                       38485
ECOG1                       38485
ECOG2                       38485
ECOG3                       38485
ECOG4                       38485
DEPR1                       38485
DEPR2                       38485
DEPR3                       38485
DEPR4                       38485
DEPR5                       38485
CANCER_YEARS_MEDIAN         38485
DIAG_TO_SURG_DAYS_MEDIAN    38485
DIAGNOSISDATEBEST           38485
MERGED_PATIENT_ID           14378
LINK_NUMBER                 14378
MERGED_TUMOUR_ID            12144
dtype: int64

In [19]:
df.shape

(38485, 67)

In [20]:
df.to_pickle('./Data/avpat_avtum_sactpat_sacttum.pickle')